@import 'abstracts/variables.scss';

@import '@/assets/scss/vendor/bootstrap/overrides';
@import '~/node_modules/bootstrap/scss/bootstrap';

@import 'base/base';
@import 'base/fonts';
@import 'base/typography';

@import 'components/form';
