/** general styling */
body {
  margin: 0;
  font-family: $font-body;
  font-size: $font-size-normal-mobile;
  background-color: $color-white;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-black;
}

h1,
h2 {
  font-weight: $font-weight-bold;
}

h3,
h4,
h5 {
  font-weight: $font-weight-medium;
}

h1 {
  font-size: $font-size-h1-mobile;
}

h2 {
  font-size: $font-size-h2-mobile;
}

h3 {
  font-size: $font-size-h3-mobile;
}

h4 {
  font-size: $font-size-h4-mobile;
}

h5 {
  font-size: $font-size-h1-mobile;
}

ul {
  list-style: none;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-purple-400;
    text-decoration: none;
  }

  .fa-arrow-right {
    margin-left: 8px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  padding: 0 5%;
}

.container {
  max-width: 100%;
}

.handwriting-font {
  font-family: $font-handwriting !important;
}

.subheading {
  font-family: $font-handwriting !important;
  font-size: 24px !important;
  font-weight: $font-weight-medium !important;
}

.hover-underline,
.hover-underline--focus {
  display: inline-block;
  position: relative;
  margin-bottom: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-orange-400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

.heading {
  text-align: center;
}

.heading-dot {
  color: $color-orange-400;
}

.social-icon svg {
  transform: scale(1);
  transition: transform 0.33s;
}

.form-control {
  height: 100%;
  border-radius: 0;
  border: none;

  &::-webkit-input-placeholder {
    /* Edge */
    color: $color-black;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-black;
  }

  &::placeholder {
    color: $color-black;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-normal;
  }

  main {
    margin-top: 150px;
  }

  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
  }

  h4 {
    font-size: $font-size-h4;
  }

  h5 {
    font-size: $font-size-h5;
  }

  .subheading {
    font-size: 32px !important;
  }
}

@include media-breakpoint-up(lg) {
  main {
    margin-top: 200px;
  }

  .container {
    padding: 0 9%;
  }

  .hover-underline {
    &:hover::after,
    &.show::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  a:hover {
    .hover-underline::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .social-icon svg {
    &:hover {
      transform: scale(1.2);
    }
  }
}
