/** general styling */
body {
  margin: 0;
  font-family: $font-default;
  font-size: $font-size-default;
  background-color: $color-purple-600;
  // background: $gradient-primary center center no-repeat;
  color: $color-white;
  min-height: calc(100vh - $margin-page-top - $margin-page-bottom);
}

.section {
  padding-top: spacing(12.5);
  padding-bottom: spacing(12.5);
}

.page-content {
  padding-top: $margin-page-top;
  padding-bottom: $margin-page-bottom;
}

ul {
  list-style: none;
}

a {
  color: $color-secondary;
  text-decoration: none;
  transition: color $animation-speed;

  &:hover {
    color: $color-orange-200;
    text-decoration: none;
  }

  .fa-arrow-right {
    margin-left: 8px;
  }

  &:is(.link--light) {
    color: $color-white;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hover-underline,
.hover-underline--focus {
  position: relative;
  margin-bottom: 0;
  text-decoration: none;
  background-image: linear-gradient($color-orange-400, $color-orange-400);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.hover-underline {
  &:hover,
  &.show {
    background-size: 100% 2px;
  }
}

.d-grid {
  display: grid !important;
}

@include tablet-up {
  body {
    font-size: $font-size-default;
  }

  .d-md-grid {
    display: grid !important;
  }
}

@include tablet-portrait-up {
  .d-lg-grid {
    display: grid !important;
  }
}

@include desktop-up {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-grid {
    display: grid !important;
  }
}
