// normal font: Sora
@font-face {
  font-family: Sora;
  font-weight: 400;
  src: url('~/assets/fonts/Sora-Regular.ttf');
}

@font-face {
  font-family: Sora;
  font-weight: 300;
  src: url('~/assets/fonts/Sora-Light.ttf');
}

@font-face {
  font-family: Sora;
  font-weight: 500;
  src: url('~/assets/fonts/Sora-Medium.ttf');
}

@font-face {
  font-family: Sora;
  font-weight: 600;
  src: url('~/assets/fonts/Sora-SemiBold.ttf');
}

@font-face {
  font-family: Sora;
  font-weight: 700;
  src: url('~/assets/fonts/Sora-Bold.ttf');
}

// handwriting font: Caveat
@font-face {
  font-family: Caveat;
  font-weight: 400;
  src: url('~/assets/fonts/Caveat-Regular.ttf');
}

@font-face {
  font-family: Caveat;
  font-weight: 500;
  src: url('~/assets/fonts/Caveat-Medium.ttf');
}

@font-face {
  font-family: Caveat;
  font-weight: 600;
  src: url('~/assets/fonts/Caveat-SemiBold.ttf');
}

@font-face {
  font-family: Caveat;
  font-weight: 700;
  src: url('~/assets/fonts/Caveat-Bold.ttf');
}
