@for $type from 1 to 6 {
  h#{$type} {
    a {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

@include iterator($headline-variants) using
  ($viewport-definition, $viewport-name) {
  @include iterator($viewport-definition) using
    ($variant-definition, $variant-name) {
    @if $variant-name != 'default' {
      @include media-breakpoint-up($viewport-name) {
        h#{$variant-name} {
          @include apply-styles($variant-definition, 'base');
        }
      }
    }
  }
}

@include iterator($paragraph-variants) using
  ($viewport-definition, $viewport-name) {
  @include media-breakpoint-up($viewport-name) {
    p {
      @include apply-styles(
        map-get-deep($viewport-definition, 'default'),
        'base'
      );
      @include apply-styles(
        map-get-deep($viewport-definition, 'normal'),
        'base'
      );
    }

    .copy--small {
      @include apply-styles(
        map-get-deep($viewport-definition, 'default'),
        'base'
      );
      @include apply-styles(
        map-get-deep($viewport-definition, 'small'),
        'base'
      );
    }

    .copy--smaller {
      @include apply-styles(
        map-get-deep($viewport-definition, 'default'),
        'base'
      );
      @include apply-styles(
        map-get-deep($viewport-definition, 'smaller'),
        'base'
      );
    }
  }
}

p {
  margin: 0 0 spacing(4);

  a,
  li {
    font-size: inherit;
    line-height: inherit;
  }
}

.handwriting-font {
  font-family: $font-handwriting !important;
}

.subheading {
  font-family: $font-handwriting !important;
  font-size: 24px !important;
  font-weight: $font-weight-medium !important;
  margin-bottom: spacing(4);
}

.heading {
  text-align: center;
}

.heading-dot {
  color: $color-orange-400;
}

@include tablet-up {
  .subheading {
    font-size: 32px !important;
  }
}
