{
  "root": true,

  "env": {
    "browser": true,
    "node": true
  },

  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },

  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:nuxt/recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],

  "plugins": ["@typescript-eslint"],

  "rules": {
    "@typescript-eslint/no-this-alias": "off",
    // "@typescript-eslint/no-unused-vars": "off",
    // "no-console": "off",
    "vue/multi-word-component-names": "off",
    "vue/no-v-htmls": "off"
    // "vue/require-explicit-emitss": "off",
    // "vue/script-setup-no-uses-vars": "off"
  }
}
