.introduction {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.introduction__content {
    margin-top: 0;
}

.introduction__description {
    margin: 1.5rem 0;
}

.introduction__image {
    order: -2;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-left: auto;

    .speech-bubble {
        display: none;
    }

    img {
        width: 85%;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}

.introduction__buttons {
    display: flex;
    flex-flow: column;
    gap: 20px;

    .btn--contact {
        .btn-primary {
            border-radius: 1.5625rem 0;

            &:hover {
                border-radius: 0 1.5625rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .introduction {
        display: grid;
        gap: 20px;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
            "intro-content intro-image"
            "intro-content intro-social";
    }

    .introduction__content {
        grid-area: intro-content;
    }

    .introduction__buttons {
        flex-flow: row nowrap;

        .btn {
            width: 180px;
        }
    }

    .introduction__image {
        grid-area: intro-image;
        align-self: center;
        margin-top: 10px;

        .speech-bubble {
            position: absolute;
            top: 30%;
            left: 70%;
            place-items: center;
            margin: 0;
            min-width: 40px;
            max-width: 220px;
            min-height: 40px;
            border-radius: 30px;
            background-color: $color-body;
            padding: 20px 15px;
            text-align: center;
            font-size: 1rem;
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);

            &:before {
                // layout
                content: '';
                position: absolute;
                bottom: 100%;
                left: 1.5em; // offset should move with padding of parent
                width: 0;
                height: 0;
                border: .75rem solid transparent;
                border-top: none;

                // looks
                border-bottom-color: $color-body;
                filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }

        img {
            width: auto;
            transition: transform .33s, box-shadow .33s;
        }

        &:hover {
            .speech-bubble {
                display: flex;
            }

            img {
                transform: translate(-10px, -10px);
                box-shadow: 20px 20px 18px rgb(39 24 126 / 60%);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .introduction {
        grid-template-columns: auto 350px;
        grid-template-areas:
            "intro-content intro-image";
        justify-content: space-between;
    }

    .introduction__content {
        padding-right: 20%;
        align-self: center;
    }

    .introduction__description {
        margin-top: 1.5rem;
    }

    .introduction__buttons {
        flex-flow: row nowrap;

        .btn--portfolio,
        .btn--contact {
            margin-top: 30px;
        }
    }

    .introduction__image {
        position: relative;
        justify-self: flex-end;

        .speech-bubble {
            top: 58%;
            left: 37%;
        }

        img {
            height: 350px;
        }
    }

    .social-list--aside {
        flex-direction: column;
        transform: translateY(0);
        align-items: flex-end;
    }
}
