.heading--portfolio {
    margin-bottom: 50px;
}

.portfolio {
    margin-top: 50px;
    padding-top: 50px;

    .slider {
        position: relative;
        display: flex;
        flex-flow: column;
        gap: 50px;
        box-sizing: content-box;

        &__wrapper {
            background-color: $color-body;
            border-radius: 25px;
        }

        &__image {
            display: flex;
            justify-content: center;
            border-radius: 25px;
            background-color: $color-main;
            padding: 20px;

            img {
                height: auto;
            }
        }

        &__text {
            max-height: 350px;
            overflow: hidden;
            margin-bottom: 1rem;

            &-wrapper {
                padding: 25px;
            }
        }

        &__tags {
            display: flex;
            flex-flow: row wrap;
            place-items: flex-start;
            gap: 5px;
            max-height: 35px;
            overflow: hidden;
            margin-bottom: 1rem;
        }

        &__tag {
            margin: 0;
            border: 1px solid rgba(255, 109, 0, 1);;
            border-radius: 15px;
            padding: 5px 15px;
            background-color: rgba(255, 134, 0, .4);
            // color: $color-text-light;
            font-size: 14px;
        }

        &__links {
            &.link-wrapper--flex {
                display: flex;
                justify-content: space-between;
            }

            .project__link {
                color: $color-main;
                transition:
                    color $animation-speed,
                    transform $animation-speed;

                .fa-arrow-right {
                    transition: transform .25s;
                }

                &:hover {
                    color: $color-main-alt;

                    .fa-arrow-right {
                        transform: translateX(8px);
                    }
                }
            }
        }

        &__control {
            position: absolute;
            top: auto;
            bottom: 30%;
            height: 50px;
            max-width: 55px;
            background-color: transparent;
            padding: 0 5px;
            opacity: 1;
            color: $color-main-alt;
            cursor: pointer;
            transition: color $animation-speed;

            &--previous {
                left: -25px;
            }

            &--next {
                right: -25px;
            }

            i::before {
                transform: scale(2.5);
                transition: transform .33s;
            }

            &:hover {
                color: $color-orange-500;

                i::before {
                    transform: scale(3);
                }
            }
        }

        &--hidden {
            display: none;
        }
    }
}

@include media-breakpoint-up(md) {
    .portfolio {
        .slider {
            &__control {
                bottom: 20%;
            }

            &__image {
                img {
                    max-height: 500px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .portfolio {
        .slider {
            &__wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 500px;
            }

            &__image {
                display: flex;
                flex-flow: column;
                place-items: center;

                img {
                    max-height: 450px;
                }
            }

            &__text {
                max-height: 205px;

                &-wrapper {
                    padding: 75px;
                }
            }

            &__control {
                bottom: auto;
                top: 0;
                height: 100%;

                &--previous {
                    left: 5px;
                }

                &--next {
                    right: 5px;
                }
            }

            &--hidden {
                display: none;
            }
        }
    }
}
