.social-list {
    position: fixed;
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    left: 2%;
    bottom: 0;
    width: 80px;
    z-index: $z-fixed;

    &__dash {
        order: 4;
        width: 2px;
        height: 100px;
        background-color: $color-main-alt;
    }

    .social-icon {
        height: 35px;
        width: 35px;
        color: $color-main-alt;

        svg {
            height: 100%;
            width: 100%;
        }

        .bi {
            font-size: inherit;
        }
    }
}

.social-list-nav {
    .social-list {
        position: relative;
        left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;

        &__dash {
            display: none;
        }

        .social-icon {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &-wrapper {
                width: 45px;
                height: 45px;
            }

            svg {
                height: auto;
                width: auto;
                transform: scale(2);
                transition: transform .33s;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .social-list {
        &__dash {
            width: 3px;
            height: 120px;
        }

        .social-icon {
            height: 45px;
            width: 45px;
            transition: transform $animation-speed;

            svg {
                transform: scale(2);
                transition: transform .33s;
            }

            &:hover {
                color: $color-orange-500;

                svg {
                    transform: scale(2) translateY(-4px);
                }
            }

            .bi {
                font-size: inherit;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .social-list {
        display: flex;
    }

    .social-list-nav {
        .social-list {
            display: none;
        }
    }
}
