@for $type from 1 to 6 {
  h#{$type} {
    font-size: map.get($font-sizes-heading, 'xs', $type);
    line-height: map.get($font-sizes-heading, 'xs', $type) + 4px;

    a {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

p {
  margin: 0 0 spacing(4);
  font-size: map.get($font-sizes-copy, 'default', 'xs');
  line-height: map.get($font-sizes-copy, 'default', 'xs') + 4px;

  a,
  li {
    font-size: inherit;
    line-height: inherit;
  }
}

.handwriting-font {
  font-family: $font-handwriting !important;
}

.heading {
  text-align: center;
}

.heading-dot {
  color: $color-orange-400;
}

.subheading {
  margin-bottom: spacing(4);
  font-family: $font-handwriting !important;
  font-size: 24px !important;
  font-weight: $font-weight-medium !important;
}

@include tablet-up {
  @for $type from 1 to 6 {
    h#{$type} {
      font-size: map.get($font-sizes-heading, 'md', $type);
      line-height: map.get($font-sizes-heading, 'md', $type) + 6px;
    }
  }

  p {
    font-size: map.get($font-sizes-copy, 'default', 'md');
    line-height: map.get($font-sizes-copy, 'default', 'md') + 4px;
  }

  .subheading {
    font-size: 32px !important;
  }
}
