$color-cyan-bluish-gray: #abb8c3;
$color-pale-pink: #f78da7;
$color-vivid-red: #cf2e2e;
$color-luminous-vivid-orange: #ff6900;
$color-luminous-vivid-amber: #fcb900;
$color-light-green-cyan: #7bdcb5;
$color-vivid-green-cyan: #00d084;
$color-pale-cyan-blue: #8ed1fc;
$color-vivid-cyan-blue: #0693e3;
$color-vivid-purple: #9b51e0;

$color-gradient-gallery-figcaption: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3) 70%, transparent)
