/** general styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: $font-body;
    font-size: $font-size-normal-mobile;
    background-color: $color-body;
    color: $color-text;
}

h1,
h2,
h3,
h4,
h5 {
    color: $color-text;
    font-weight: $font-weight-bold;
}

h1 {
    font-size: $font-size-h1-mobile;
}

h2 {
    font-size: $font-size-h2-mobile;
}

h3 {
    font-size: $font-size-h3-mobile;
}

h4 {
    font-size: $font-size-h4-mobile;
}

h5 {
    font-size: $font-size-h1-mobile;
}

ul {
    list-style: none;
}

a {
    color: $color-main;
    text-decoration: none;

    &:hover {
        color: $color-purple-400;
        text-decoration: none;
    }

    .fa-arrow-right {
        margin-left: 8px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

main {
    margin-bottom: 100px;
}

#home,
#legalWrapper,
#privacyWrapper {
    padding-top: 100px;
}

.container,
.nav-container {
    padding: 0 5%;
}

.container {
    max-width: 100%;
}

.hover-underline {
    display: inline-block;
    position: relative;
    margin-bottom: 0;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-orange-400;
        transform-origin: bottom right;
        transition: transform .25s ease-out;
    }
}

.heading {
    text-align: center;
}

.heading-dot {
    color: $color-orange-400;
}

.social-icon svg {
    transform: scale(1);
    transition: transform .33s;
}

.form-control {
    height: 100%;
    border-radius: 0;
    border: none;

    &::-webkit-input-placeholder { /* Edge */
        color: $color-text;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-text;
    }

    &::placeholder {
        color: $color-text;
    }
}

@include media-breakpoint-up(md) {
    body {
        font-size: $font-size-normal;
    }

    #home,
    #legalWrapper,
    #privacyWrapper {
        padding-top: 150px;
    }

    h1 {
        font-size: $font-size-h1;
    }

    h2 {
        font-size: $font-size-h2;
    }

    h3 {
        font-size: $font-size-h3;
    }

    h4 {
        font-size: $font-size-h4;
    }

    h5 {
        font-size: $font-size-h5;
    }
}

@include media-breakpoint-up(lg) {
    #home,
    #legalWrapper,
    #privacyWrapper {
        padding-top: 200px;
    }

    .container,
    .nav-container {
        padding: 0 9%;
    }

    .hover-underline {
        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    a:hover {
        .hover-underline::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    .social-icon svg {
        &:hover {
            transform: scale(1.2);
        }
    }
}
