<nav class="navbar navbar-expand-lg navbar-dark nav-container">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 nav-logo">
            <span class="d-block d-lg-none">
                {{ $navData['logo']['mobile'] }}<span class="heading-dot">.</span>
            </span>
            <span class="d-none d-lg-block">
                {{ $navData['logo']['desktop'] }}<span class="heading-dot">.</span>
            </span>
        </span>
        <div class="collapse navbar-collapse justify-content-end d-sm-none d-md-block" id="navbarNav">
            <ul class="navbar-nav">
                {% foreach($navData['links'] as $section => $linkDetails): %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ $linkDetails['href'] }}">
                            <span class="hover-underline {{ $linkDetails['el'] }}{% if($linkDetails['el'] === 'start-el' && $page === 'home'): %} nav-active{% endif; %}">
                                {{ $section }}
                            </span>
                        </a>
                    </li>
                {% endforeach; %}
            </ul>
        </div>

        <div class="navbar-mobile justify-content-end d-md-none" id="navbarNav">
            <ul class="navbar-nav">
                {% foreach($navData['links'] as $section => $linkDetails): %}
                    <li class="nav-item{% if($linkDetails['showMobile'] === false): %} d-none{% endif; %}">
                        <a class="nav-link active" aria-current="page" href="{{ $linkDetails['href'] }}">
                            <span class="hover-underline {{ $linkDetails['el'] }}{% if($linkDetails['el'] === 'start-el' && $page === 'home'): %} nav-active{% endif; %}">
                                {{ $section }}
                            </span>
                        </a>
                    </li>
                {% endforeach; %}
            </ul>
        </div>
    </div>
</nav>
