/* SCSS Gradient */
/** general styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #f8f7fd;
  color: #100c27;
}

h1,
h2,
h3,
h4,
h5 {
  color: #100c27;
  font-weight: 700;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 44px;
}

ul {
  list-style: none;
}

a {
  color: #27187e;
  text-decoration: none;
}

a:hover {
  color: #4e38b7;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  margin-bottom: 100px;
}

.container,
.nav-container {
  padding: 0 5%;
}

.container {
  max-width: 100%;
}

.container--content {
  padding-top: 60px;
}

.hover-underline {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff7900;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.heading {
  text-align: center;
}

.heading-dot {
  color: #ff7900;
}

.social-icon svg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .33s;
  transition: -webkit-transform .33s;
  transition: transform .33s;
  transition: transform .33s, -webkit-transform .33s;
}

.form-control {
  height: 100%;
  border-radius: 0;
  border: none;
}

.form-control::-webkit-input-placeholder {
  /* Edge */
  color: #100c27;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #100c27;
}

.form-control::-ms-input-placeholder {
  color: #100c27;
}

.form-control::placeholder {
  color: #100c27;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  .container--content {
    padding-top: 120px;
  }
}

@media (min-width: 992px) {
  .container,
  .nav-container {
    padding: 0 9%;
  }
  .container--content {
    padding-top: 180px;
  }
  .hover-underline:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  a:hover .hover-underline::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .social-icon svg:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.btn {
  width: 100%;
  height: 50px;
  padding: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  border: 2px solid #100c27;
  border-radius: 0 25px;
  font-weight: 500;
  -webkit-transition: border-radius .4s ease-out;
  transition: border-radius .4s ease-out;
}

.btn .fa-arrow-right {
  margin-left: 4px;
  -webkit-transition: -webkit-transform .25s ease-in;
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in;
}

.btn:hover {
  border-radius: 25px 0;
}

.btn:hover .fa-arrow-right {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.btn-primary {
  background-color: #ff8600;
  border-color: #ff8600;
  color: #f8f7fd;
  -webkit-transition: border-radius .4s ease-out, background-color .15s, border-color .15s;
  transition: border-radius .4s ease-out, background-color .15s, border-color .15s;
}

.btn-primary:hover {
  background-color: #ff6d00;
  border-color: #ff6d00;
  text-decoration: none;
}

.btn-light {
  background-color: #f8f7fd;
  border-color: #f8f7fd;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.social-list__item {
  height: 55px;
  width: 55px;
}

.scroll-to-top {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 100px;
  z-index: 90;
  width: 50px;
  height: 50px;
  background-color: #ff8600;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1) translateY(200px);
          transform: scale(1) translateY(200px);
  will-change: transform;
  -webkit-transition: -webkit-transform .33s;
  transition: -webkit-transform .33s;
  transition: transform .33s;
  transition: transform .33s, -webkit-transform .33s;
}

.scroll-to-top.show {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

@media (min-width: 768px) {
  .scroll-to-top {
    bottom: 20px;
  }
}

@media (min-width: 992px) {
  .scroll-to-top.show:hover {
    -webkit-transform: scale(1.3) translateY(0);
            transform: scale(1.3) translateY(0);
    background-color: #ff6d00;
  }
}

#particles-js {
  width: 100%;
  height: 2200px;
  position: absolute;
  z-index: -1;
}

@media (min-width: 768px) {
  #particles-js {
    height: 2000px;
  }
}

@media (min-width: 992px) {
  #particles-js {
    height: 1400px;
  }
}

/** Navigation */
.nav-container {
  position: fixed;
  bottom: 20px;
  width: 98%;
  height: 70px;
  margin: 0 1%;
  background-color: #27187e;
  font-size: 16px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  z-index: 100;
}

.nav-container .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav-container .navbar-mobile .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.nav-container .nav-logo {
  color: #f8f7fd;
  font-size: 28px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-container .nav {
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-link {
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 1rem 0 1rem 1.5rem;
}

.nav-container .navbar-nav .nav-link {
  color: #f8f7fd;
}

.nav-container .navbar-nav .nav-link.active {
  color: #f8f7fd;
}

.nav-container .hover-underline::after {
  background-color: #f8f7fd;
}

.nav-container .nav-active {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.nav-container .nav-active::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f8f7fd;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

/* tablet styling */
@media (min-width: 768px) {
  .nav-container {
    top: 10px;
    height: 90px;
    font-size: 18px;
    border-radius: 25px;
  }
  .nav-container .navbar-collapse {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  .nav-container .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/* desktop styling */
@media (min-width: 992px) {
  .nav-container {
    height: 100px;
    padding: 0 8%;
    font-size: 20px;
  }
  .nav-container .navbar-nav .nav-item:not(:last-of-type) {
    padding-right: 1.5rem;
  }
  .nav-container .navbar-nav .nav-link {
    padding-right: 0;
  }
  .nav-container .nav {
    margin-right: -15px;
  }
  .nav-container .nav-active:hover::after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
}

.footer {
  width: 100%;
  background-color: #27187e;
  font-size: 18px;
  padding: 5% 10% 120px;
  color: #f8f7fd;
}

.footer .nav-active {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.footer .nav-active::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff7900;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.social-list--footer {
  margin-bottom: 25px;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright p {
  text-align: center;
  margin-bottom: 25px;
}

.footer__links p {
  text-align: center;
  margin-bottom: 1rem;
}

.footer__links .footer__link-item {
  color: #f8f7fd;
  font-size: inherit;
}

@media (min-width: 768px) {
  .footer {
    font-size: 20px;
    padding: 5% 10% 90px;
  }
}

@media (min-width: 992px) {
  .footer .social-list--footer {
    gap: 40px;
    margin-bottom: 2rem;
  }
  .footer .footer__copyright {
    margin-bottom: 2rem;
  }
  .footer .footer__copyright p {
    margin-bottom: 0;
  }
  .footer .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .footer .footer__links p {
    margin-bottom: 0;
  }
  .footer .nav-active:hover::after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction__content {
  margin-top: 2rem;
}

.introduction__description {
  margin: 1.5rem 0;
}

.introduction__image {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.introduction__image img {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.social-list--aside {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.introduction__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 30px;
}

.introduction__buttons .btn--contact .btn-primary {
  border-radius: 1.5625rem 0;
}

.introduction__buttons .btn--contact .btn-primary:hover {
  border-radius: 0 1.5625rem;
}

@media (min-width: 768px) {
  .introduction {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 4fr 2fr;
        grid-template-columns: 4fr 2fr;
        grid-template-areas: "intro-content intro-image" "intro-content intro-social";
  }
  .introduction__content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: intro-content;
  }
  .introduction__buttons .btn--portfolio,
  .introduction__buttons .btn--contact {
    width: 180px;
  }
  .introduction__image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: intro-image;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 10px;
  }
  .social-list--aside {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: intro-social;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@media (min-width: 992px) {
  .introduction {
    -ms-grid-columns: 4fr 2.5fr .5fr;
        grid-template-columns: 4fr 2.5fr .5fr;
        grid-template-areas: "intro-content intro-image intro-social";
  }
  .introduction__content {
    padding-right: 20%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .introduction__description {
    margin-top: 1.5rem;
  }
  .introduction__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .introduction__buttons .btn--portfolio,
  .introduction__buttons .btn--contact {
    margin-top: 30px;
  }
  .introduction__image {
    justify-self: flex-end;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  .introduction__image img {
    height: 350px;
  }
  .social-list--aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.portfolio {
  margin-top: 50px;
  padding-top: 50px;
}

.heading--portfolio {
  margin-bottom: 50px;
}

.swiper--projects {
  width: 100%;
  height: 400px;
}

.swiper--projects .swiper-wrapper {
  width: 45%;
}

.swiper--projects .swiper-button-prev,
.swiper--projects .swiper-button-next {
  color: #f8f7fd;
}

.swiper--projects .swiper-horizontal > .swiper-pagination-bullets,
.swiper--projects .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper--projects .swiper-pagination-custom, .swiper--projects .swiper-pagination-fraction {
  bottom: 0;
}

.swiper--projects .swiper-pagination-bullet-active {
  background-color: #27187e;
}

.project-container {
  background-color: #27187e;
  border-radius: 25px;
  padding: 2.5rem 3rem;
  width: 100%;
  color: #f8f7fd;
  max-height: 580px;
  overflow: hidden;
  margin-bottom: 40px;
}

.project-container h3 {
  text-align: center;
  color: inherit;
  margin-bottom: 1.5rem;
}

.project__info {
  padding-right: 20px;
}

.project__info .github-repo {
  margin-top: 40px;
}

.project__link {
  color: inherit;
}

.project__link .fa-arrow-right {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.project__link .hover-underline::after {
  background-color: #ff8600;
}

.project__link:hover {
  color: #ff8600;
  text-decoration: none;
}

.project__link:hover .fa-arrow-right {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

@media (min-width: 768px) {
  .project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  .swiper--projects {
    height: 340px;
  }
  .swiper--projects .swiper-button-prev,
  .swiper--projects .swiper-button-next {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: -webkit-transform .33s;
    transition: -webkit-transform .33s;
    transition: transform .33s;
    transition: transform .33s, -webkit-transform .33s;
  }
  .swiper--projects .swiper-button-prev:hover,
  .swiper--projects .swiper-button-next:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .project-container {
    width: 45%;
    height: 315px;
    max-height: 315px;
    font-size: 20px;
  }
  .project-container h3 {
    font-size: 24px;
  }
  .project__description {
    height: 110px;
  }
  .container-left {
    justify-self: flex-start;
  }
  .container-right {
    justify-self: flex-end;
  }
}

.skills-qualifications {
  margin-top: 100px;
  background-color: #27187e;
  -webkit-box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
}

.skills-qualifications-container {
  padding: 10% 5%;
  color: #f8f7fd;
}

.skills-qualifications-container .heading {
  color: inherit;
  text-align: center;
}

.skills-qualifications-container .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
}

.skills-qualifications-container .change-content {
  margin-bottom: 40px;
}

.change-skills {
  margin-right: 3%;
}

.change-skills p,
.change-qualifications p {
  cursor: pointer;
}

.skills-is-active p,
.qualifications-is-active p {
  cursor: default;
}

.skills-is-active .hover-underline::after,
.qualifications-is-active .hover-underline::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.skills.show {
  opacity: 1;
  height: auto;
}

.skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: 1/1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  border-radius: 13px;
  margin-bottom: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: #f8f7fd;
  color: #100c27;
  font-size: 16px;
}

.skills__box img {
  width: 70%;
}

.skills__box p {
  margin: 5px 0 0;
}

@media (min-width: 768px) {
  .skills__box {
    font-size: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22%;
            flex: 0 0 22%;
  }
}

@media (min-width: 992px) {
  .skills-qualifications-container {
    padding: 5% 10%;
  }
  .skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .skills__box {
    font-size: 1.2rem;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12%;
            flex: 0 0 12%;
    min-width: 140px;
    min-height: 140px;
  }
}

.about {
  margin-top: 100px;
}

.heading--about {
  text-align: center;
  margin-bottom: 40px;
}

.introduction__subheading {
  margin: 0;
  font-size: 24px;
}

.introduction__start {
  font-size: 20px;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image--centered-mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__image--introduction {
  margin-bottom: 25px;
}

.about__image .image__backend,
.about__image .image__frontend {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about__image--introduction {
    max-width: 40%;
    float: left;
    margin-bottom: 0;
    margin-right: 25px;
  }
  .about__image--beginning {
    max-width: 40%;
    float: right;
    margin-left: 25px;
  }
  .about__image--career {
    max-width: 35%;
    float: left;
    margin-right: 25px;
  }
  .about__image .image__backend,
  .about__image .image__frontend {
    width: 100%;
  }
  .about__introduction-content {
    margin-bottom: 16px;
  }
  .about__beginning {
    clear: left;
  }
  .about__career {
    clear: right;
  }
}

@media (min-width: 992px) {
  .about__beginning,
  .about__career {
    clear: none;
  }
  .about__image--introduction {
    max-width: 15%;
  }
  .about__image--beginning {
    max-width: 12%;
  }
  .about__image--career {
    max-width: 12%;
  }
}

.qualifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.qualifications.show {
  opacity: 1;
  height: auto;
}

.cv-container {
  width: 100%;
}

.experience {
  width: 100%;
}

.experience__heading {
  margin-bottom: 30px;
  color: #f8f7fd;
}

.job-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.job-container .job-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 97%;
          flex: 0 0 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-left: 20px;
}

.job-container .job__information {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 1.5rem;
}

.job-container .job__company {
  font-size: 1.2rem;
}

.job-container .job__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 3rem;
}

.job-container .job__title {
  font-weight: 700;
  letter-spacing: 1px;
}

.job__timeline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3%;
          flex: 0 0 3%;
  margin-top: 6px;
}

.job__timeline .timeline__point {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #f8f7fd;
  border-radius: 50%;
}

.job__timeline .timeline__line {
  width: .2rem;
  height: 100%;
  background-color: #f8f7fd;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

@media (min-width: 992px) {
  .qualifications {
    margin-top: 40px;
  }
  .job-container .job__information {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .job-container .job__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}

.about {
  margin-top: 100px;
}

.heading--about {
  text-align: center;
  margin-bottom: 40px;
}

.introduction__subheading {
  margin: 0;
  font-size: 24px;
}

.introduction__start {
  font-size: 20px;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image--centered-mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__image--introduction {
  margin-bottom: 25px;
}

.about__image .image__backend,
.about__image .image__frontend {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about__image--introduction {
    max-width: 40%;
    float: left;
    margin-bottom: 0;
    margin-right: 25px;
  }
  .about__image--beginning {
    max-width: 40%;
    float: right;
    margin-left: 25px;
  }
  .about__image--career {
    max-width: 35%;
    float: left;
    margin-right: 25px;
  }
  .about__image .image__backend,
  .about__image .image__frontend {
    width: 100%;
  }
  .about__introduction-content {
    margin-bottom: 16px;
  }
  .about__beginning {
    clear: left;
  }
  .about__career {
    clear: right;
  }
}

@media (min-width: 992px) {
  .about__beginning,
  .about__career {
    clear: none;
  }
  .about__image--introduction {
    max-width: 15%;
  }
  .about__image--beginning {
    max-width: 12%;
  }
  .about__image--career {
    max-width: 12%;
  }
}

.contact-button {
  width: 100%;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .contact-button {
    width: 300px;
  }
}

.legal-disclosure {
  margin-bottom: 80px;
}

.legal-disclosure .contact-info,
.legal-disclosure .in-charge {
  margin-top: 40px;
}

.legal-disclosure__source {
  margin-top: 50px;
  font-size: 18px;
}

.privacy-notice-content .privacy-introduction,
.privacy-notice-content .privacy-hosting,
.privacy-notice-content .privacy-required-information,
.privacy-notice-content .data-acquisition,
.privacy-notice-content .plugins-tools {
  margin-top: 70px;
}

.privacy-notice-content .privacy-introduction div,
.privacy-notice-content .privacy-hosting div,
.privacy-notice-content .privacy-required-information div,
.privacy-notice-content .data-acquisition div,
.privacy-notice-content .plugins-tools div {
  margin-bottom: 40px;
}

.privacy-notice-content .privacy-source {
  margin-top: 70px;
}

.privacy-notice-content .right-of-restriction ul {
  padding-left: 0;
}

.linktree {
  background: #100c27;
  color: #f8f7fd;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
}

.linktree a {
  text-decoration: none;
  color: #f8f7fd;
}

.linktree #particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.linktree .main-section {
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
}

.linktree .header-content {
  padding: 50px 0 0;
}

.linktree .footer-content {
  padding: 0 0 50px;
}

.linktree .profile-picture {
  display: block;
  height: auto;
  width: 128px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.linktree .profile-name {
  padding: 15px 0 15px 0;
}

.linktree .links {
  display: block;
  width: 200px;
  margin: 1.25rem auto 0 auto;
  padding: .5rem 2rem;
  background: #27187e;
  border: 2px solid #27187e;
  border-radius: 25px 0;
  color: #f8f7fd;
  font-size: .85rem;
  cursor: pointer;
  -webkit-transition: border-radius .4s;
  transition: border-radius .4s;
}

.linktree .links .fas,
.linktree .links .fab {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.linktree .links:hover {
  background: #27187e;
  border-radius: 0 25px;
  color: #f8f7fd;
}

.linktree .links:hover .fas,
.linktree .links:hover .fab {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.linktree .first-link {
  margin-top: 0;
}

.linktree .bottom-text {
  margin-top: 60px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.linktree .legal {
  font-size: .75rem;
}
/*# sourceMappingURL=base.css.map */