// headline style definitions
$headline-variants: () !default;
$headline-variants: map-merge-deep((
    'xs': (
        '1': (
            'base': (
                'font-size': $font-size-h1-xs,
                'line-height': $font-size-h1-xs + 6px,
                'font-weight': $font-weight-bold,
                'margin': 0 0 $heading-margin-bottom,
            )
        ),

        '2': (
            'base': (
                'font-size': $font-size-h2-xs,
                'line-height': $font-size-h2-xs + 4px,
                'font-weight': $font-weight-bold,
                'margin': 0 0 $heading-margin-bottom,
            )
        ),

        '3': (
            'base': (
                'font-size': $font-size-h3-xs,
                'line-height': $font-size-h3-xs + 4px,
                'font-weight': $font-weight-medium,
                'margin': 0 0 $heading-margin-bottom,
            )
        ),

        '4': (
            'base': (
                'font-size': $font-size-h4-xs,
                'line-height': $font-size-h4-xs + 4px,
                'font-weight': $font-weight-medium,
                'margin': 0 0 $heading-margin-bottom,
            )
        ),

        '5': (
            'base': (
                'font-size': $font-size-h5-xs,
                'line-height': $font-size-h5-xs + 2px,
                'font-weight': $font-weight-medium,
                'margin': 0 0 $heading-margin-bottom,
            )
        ),
    ),

    'md': (
        '1': (
            'base': (
                'font-size': $font-size-h1,
                'line-height': $font-size-h1 + 8px,
            )
        ),

        '2': (
            'base': (
                'font-size': $font-size-h2,
                'line-height': $font-size-h2 + 6px,
            )
        ),

        '3': (
            'base': (
                'font-size': $font-size-h3,
                'line-height': $font-size-h3 + 4px,
            )
        ),

        '4': (
            'base': (
                'font-size': $font-size-h4,
                'line-height': $font-size-h4 + 4px,
            )
        ),

        '5': (
            'base': (
                'font-size': $font-size-h5,
                'line-height': $font-size-h5 + 4px,
            )
        ),
    ),
), $headline-variants);

// paragraph style definitions
$paragraph-variants: () !default;
$paragraph-variants: map-merge-deep((
    'xs': (
        'default': (
            'base': (
                'font-weight': 400,
            )
        ),

        'normal': (
            'base': (
                'font-size': $font-size-default-xs,
                'line-height': $font-size-default-xs + 4px,
            )
        ),

        'small': (
            'base': (
                'font-size': $font-size-small-xs,
                'line-height': $font-size-small-xs + 2px,
            )
        ),

        'smaller': (
            'base': (
                'font-size': $font-size-smaller-xs,
                'line-height': $font-size-smaller-xs + 2px,
            )
        )
    ),

    'md': (
        'default': (
            'base': (
                'font-weight': 400,
            )
        ),

        'normal': (
            'base': (
                'font-size': $font-size-default,
                'line-height': $font-size-default + 6px,
            )
        ),

        'small': (
            'base': (
                'font-size': $font-size-small,
                'line-height': $font-size-small + 4px,
            )
        ),

        'smaller': (
            'base': (
                'font-size': $font-size-smaller,
                'line-height': $font-size-smaller + 2px,
            )
        )
    ),

    'xl': (
        'default': (
            'base': (
                'font-weight': 400,
            )
        ),

        'normal': (
            'base': (
                'font-size': $font-size-default-xl,
                'line-height': $font-size-default-xl + 6px,
            )
        ),

        'small': (
            'base': (
                'font-size': $font-size-small-xl,
                'line-height': $font-size-small-xl + 4px,
            )
        ),

        'smaller': (
            'base': (
                'font-size': $font-size-smaller-xl,
                'line-height': $font-size-smaller-xl + 2px,
            )
        )
    ),
), $paragraph-variants);
