/** Navigation */
.nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: $color-main;
    font-size: $small-font-size-mobile;
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
    border-radius: 25px 25px 0 0;
    z-index: $z-fixed;

    .nav-logo {
        color: $text-color-light;
        font-size: inherit;
        align-self: center;
    }

    .nav {
        justify-self: flex-end;
        align-items: center;
    }

    .nav-link {
        color: $text-color-light;
        font-size: inherit;
        display: flex;
        flex-direction: column;
    }

    .fa-code,
    .fa-code-branch,
    .fa-at {
        font-size: 20px;
        text-align: center;
        margin: 0 13px 5px;
    }

    .fa-code-branch {
        margin: 0 10px 5px;
    }

    .nav-about {
        display: none;
    }
}

/* tablet styling */
@media (min-width: $breakpoint-md) {
    .nav-container {
        top: 0;
        height: 90px;
        font-size: $smaller-font-size;
        grid-template-columns: 1fr 3fr;
        border-radius: 0 0 45px 45px;

        [class*="fa-"] {
            display: none;
        }

        .nav-about {
            display: block;
        }
    }
}

/* desktop styling */
@media (min-width: $breakpoint-lg) {
    .nav-container {
        height: 100px;
    }
}
