/** portfolio styling */
.portfolio {
    margin-top: 50px;
    padding-top: 50px;
}

.portfolio-container {
    .heading {
        margin-bottom: 50px;
    }
}

.portfolio-content {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
}

.project-container {
    background-color: $color-main;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 2.5rem 2rem 0 2rem;
    width: 100%;
    color: $text-color-light;

    h3 {
        text-align: center;
        color: inherit;
        margin-bottom: 1.5rem;
    }

    .project-content {
        display: flex;
        justify-content: space-between;
    }

    .project-info {
        padding-right: 20px;

        .github-repo {
            margin-top: 40px;
        }
    }

    .project-link {
        color: inherit;

        .fa-arrow-right {
            transition: transform .25s;
        }

        &:hover {
            text-decoration: none;

            .fa-arrow-right {
                transform: translateX(.5rem);
            }
        }
    }

    .project-image {
        width: 30%;
    }
}

@media (min-width: $breakpoint-lg) {
    .project-container {
        width: 45%;
        height: auto;
        font-size: $small-font-size;

        h3  { grid-area: heading; font-size: $normal-font-size; }
        .project-info { grid-area: info; }
        .project-link { grid-area: link; }
    }

    .container-left { justify-self: flex-start; }
    .container-right { justify-self: flex-end; }
}

/* skills and qualifications syling */
.skills {
    padding-top: 40px;

    @media (min-width: $breakpoint-lg) {
        padding-top: 70px;
        margin-top: 70px;
    }
}

.skills-qualifications {
    background-color: $color-main;
    box-shadow: inset 0 0 20px 8px rgba($color: #000000, $alpha: 0.2);
}

.skills-qualifications-container {
    padding: 10% 5%;
    color: $text-color-light;

    @media (min-width: $breakpoint-lg) {
        padding: 5% 10%;
    }

    h2 {
        color: inherit;
        text-align: center;
    }

    .nav {
        justify-content: center;
        color: inherit;
    }

    .change-skills {
        margin-right: 3%;
    }

    .skills-is-active,
    .qualifications-is-active {
        .hover-underline::after {
            transform: scaleX(1);
        }
    }
}

.change-content {
    margin-bottom: 40px;
}

.change-skills,
.change-qualifications {
    p {
        cursor: pointer;
    }
}

.skills-is-active,
.qualifications-is-active {
    p {
        cursor: default;
    }
}

.skills-content {
    flex-flow: row wrap;
    justify-content: space-between;

    .typo3,
    .databases,
    .newsletter {
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-md) {
        .wordpress {
            margin-bottom: 0;
        }
    }

    @media (min-width: $breakpoint-lg) {
        gap: 40px
    }
}

.skills-box {
    background-color: $body-color;
    color: $text-color;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    margin-bottom: 2rem;
    flex: 0 0 30%;

    @media (min-width: $breakpoint-md) {
        font-size: $normal-font-size-mobile;
        flex: 0 0 22%;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: $smaller-font-size;
        margin-bottom: 0;
        flex: 0 0 12%;
    }

    img {
        width: 70%;
    }

    p {
        margin: 5px 0 0;
    }
}

.qualifications-content {
    @media (min-width: $breakpoint-lg) {
        height: 800px;
        margin-top: 40px;
    }
}
