/** general styling */
body {
    margin: 0 0 3rem 0;
    font-family: $body-font;
    font-size: $normal-font-size-mobile;
    background-color: $body-color;
    color: $text-color;
}

h1,
h2,
h3,
h4 {
    color: $text-color;
    font-weight: $font-weight-bold;
}

h1 {
    font-size: $h1-font-size-mobile;
}

h2 {
    font-size: $h2-font-size-mobile;
}

h3 {
    font-size: $h3-font-size-mobile;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    width: 100%;
    height: 50px;
    padding: 0.75rem;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.4);
}

.btn-primary {
    background-color: $color-main;
    border-color: $color-main;
}

.form-control {
    height: 100%;
    border-radius: 0;
    border: none;
}

// Container Padding
.nav-container,
.content-container {
    padding: 0 5%;
}

.heading {
    text-align: center;
}

/** Navigation */
.nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: $color-main;
    font-size: $small-font-size-mobile;
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);

    .nav-logo {
        color: $text-color-light;
        font-size: inherit;
        align-self: center;
    }

    .nav {
        justify-self: flex-end;
        align-items: center;
    }

    .nav-link {
        color: $text-color-light;
        font-size: inherit;
    }

    .fa-code,
    .fa-code-branch,
    .fa-at {
        font-size: 20px;
        text-align: center;
        margin: 0 13px 5px;
    }

    .fa-code-branch {
        margin: 0 10px 5px;
    }

    .nav-about {
        display: none;
    }
}

/** introduction styling */
.intro-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.5fr 3fr;
    grid-template-areas:
        "intro-social-aside intro-image"
        "main-content main-content";
    margin: 60px 0 0;

    .intro-main-content {
        grid-area: main-content;
        margin-top: 1rem;
    }
    .intro-image {
        grid-area: intro-image;
        justify-self: flex-end;
    }
    .intro-social-aside {
        grid-area: intro-social-aside;
    }
}

.intro-image img {
    border-radius: 50%;
}

.intro-social-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .social-instagram,
    .social-github,
    .social-linkedin {
        height: 20%;
        margin-bottom: 10px;
    }

    .social-linkedin {
        margin-bottom: 0;
    }
}

.btn-portfolio {
    width: 180px;
}

/** portfolio styling */
.portfolio {
    margin-top: 50px;
    padding-top: 50px;
}

.project-container {
    background-color: $color-main;
    border-radius: 25px;
    margin-bottom: 50px;
    color: $text-color-light;

    h3 {
        padding-top: 20px;
        text-align: center;
        color: inherit;
    }

    .project-info {
        padding: 0 20px;
    }

    .project-link {
        padding: 0 20px;
        color: inherit;
    }

    .project-image {
        margin-top: 20px;
    }
}

/** skills and qualifications syling */
.skills {
    padding-top: 40px;
}

.skills-qualifications {
    background-color: $color-main;
    box-shadow: inset 0 0 20px 8px rgba($color: #000000, $alpha: 0.2);
}

.skills-qualifications-container {
    padding: 10% 5%;
    color: $text-color-light;

    h2 {
        color: inherit;
        text-align: center;
    }

    .nav {
        justify-content: center;
        color: inherit;
    }

    .change-skills {
        flex: 0 0 15%;
    }

    .skills-is-active,
    .qualifications-is-active {
        text-decoration: underline;
    }
}

.skills-content {
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.skills-box {
    background-color: $body-color;
    color: $text-color;
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 155px;
    border-radius: 13px;

    img {
        width: 80%;
    }

    p {
        margin: 5px 0 0;
    }
}

/** about styling */
.about {
    margin-top: 50px;
    padding-top: 50px;
}

.about-container {
    h2 {
        text-align: center;
    }
}

.about-section {
    display: flex;
    flex-direction: column;

    .about-image {
        grid-area: image;
    }

    .introduction {
        margin-top: 50px;
        grid-area: intro;

        .about-subheading {
            margin: 0;
            font-size: $h3-font-size-mobile;
        }

        .about-me {
            font-size: $small-font-size;
        }
    }

    .interests {
        grid-area: interests;
    }

    .backend-image,
    .ui-image {
        width: 60%;
        align-self: center;
        margin-bottom: 1rem;
    }

    .first-project {
        grid-area: first-project;
    }

    .ui-image {
        grid-area: frontend;
    }

    .career {
        grid-area: career;
    }
}

/** contact styling */
.contact {
    margin-top: 50px;
    padding-top: 50px;
}

.contact-container {
    background-color: $color-main;
    border-radius: 30px;
    margin-bottom: 120px;
}

.contact-content {
    padding: 8%;
    color: $text-color-light;

    h3 {
        color: inherit;
        text-align: center;
    }

    .contact-subheading {
        font-size: $smaller-font-size;
    }

    [class*="input-"] {
        height: 55px;
        margin-bottom: 20px;
    }

    .form-check {
        margin-bottom: 20px;
    }
}
