/** general styling */
body {
    margin: 0 0 3rem 0;
    font-family: $body-font;
    font-size: $normal-font-size-mobile;
    background-color: $body-color;
    color: $text-color;

    @media (min-width: $breakpoint-md) {
        font-size: $smaller-font-size;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: $normal-font-size;
    }
}

h1,
h2,
h3,
h4 {
    color: $text-color;
    font-weight: $font-weight-bold;
}

h1 {
    font-size: $h1-font-size-mobile;

    @media (min-width: $breakpoint-md) {
        font-size: $h2-font-size;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: $h1-font-size;
    }
}

h2 {
    font-size: $h3-font-size-mobile;

    @media (min-width: $breakpoint-md) {
        font-size: $h3-font-size;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: $h2-font-size;
    }
}

h3 {
    font-size: $h3-font-size-mobile;

    @media (min-width: $breakpoint-md) {
        font-size: $normal-font-size;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: $h3-font-size;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    width: 100%;
    height: 50px;
    padding: 0.75rem;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.4);
    border: 2px solid $body-color-dark;
    font-weight: $font-weight-medium;
}

.btn-primary {
    background-color: $color-main;
    border-color: $color-main;

    &:hover {
        background-color: $body-color;
        text-decoration: none;
        color: $color-main;
    }
}

.form-control {
    height: 100%;
    border-radius: 0;
    border: none;
}

// Container Padding
.nav-container,
.content-container {
    padding: 0 5%;

    @media (min-width: $breakpoint-lg) {
        padding: 0 10%;
    }
}

.heading {
    text-align: center;
}

/** Navigation */
.nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: $color-main;
    font-size: $small-font-size-mobile;
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);

    // Tablet styling
    @media (min-width: $breakpoint-md) {
        top: 0;
        height: 80px;
        font-size: $smaller-font-size;
        grid-template-columns: 1fr 3fr;

        [class*="fa-"] {
            display: none;
        }
    }

    .nav-logo {
        color: $text-color-light;
        font-size: inherit;
        align-self: center;
    }

    .nav {
        justify-self: flex-end;
        align-items: center;
    }

    .nav-link {
        color: $text-color-light;
        font-size: inherit;
    }

    .fa-code,
    .fa-code-branch,
    .fa-at {
        font-size: 20px;
        text-align: center;
        margin: 0 13px 5px;
    }

    .fa-code-branch {
        margin: 0 10px 5px;
    }

    .nav-about {
        display: none;

        @media (min-width: $breakpoint-md) {
            display: block;
        }
    }
}

/** introduction styling */
.intro-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.5fr 3fr;
    grid-template-areas:
        "intro-social-aside intro-image"
        "main-content main-content";
    margin: 60px 0 0;

    @media (min-width: $breakpoint-md) {
        margin: 120px 0 0;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
            "main-content intro-image"
            "main-content intro-social-aside";
    }

    @media (min-width: $breakpoint-lg) {
        margin: 180px 0 0;
        grid-template-columns: 4fr 2fr .5fr;
        grid-template-areas:
            "main-content intro-image intro-social-aside";
    }

    .intro-main-content {
        grid-area: main-content;
        margin-top: 1rem;

        @media (min-width: $breakpoint-lg) {
            padding-right: 20%;
            align-self: center;

            .btn-portfolio {
                margin-top: 30px;
            }

            .myself {
                margin-top: 1.5rem;
            }
        }
    }
    .intro-image {
        grid-area: intro-image;
        justify-self: flex-end;
    }
    .intro-social-aside {
        grid-area: intro-social-aside;
    }
}

.intro-image img {
    border-radius: 50%;

    @media (min-width: $breakpoint-lg) {
        height: 100%;
    }
}

.intro-social-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        flex-direction: row;
    }

    .social-instagram,
    .social-github,
    .social-linkedin {
        height: 20%;
        margin-bottom: 10px;

        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            height: 70%;
            margin-bottom: 0;
            margin-right: 10px;
        }
    }

    .social-linkedin {
        margin-bottom: 0;

        @media (min-width: $breakpoint-md) {
            margin-right: 0;
        }
    }
}

.btn-portfolio {
    width: 180px;
}

/** portfolio styling */
.portfolio {
    margin-top: 50px;
    padding-top: 50px;
}

.portfolio-content {
    @media (min-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

.project-container {
    background-color: $color-main;
    border-radius: 25px;
    margin-bottom: 50px;
    color: $text-color-light;

    h3 {
        padding-top: 20px;
        text-align: center;
        color: inherit;
    }

    .project-info {
        padding: 0 20px;
    }

    .project-link {
        padding: 0 20px;
        color: inherit;

        &:hover {
            text-decoration: none;

            .fa-arrow-right {
                transform: translateX(7px);
                transition: transform .3s;
            }
        }
    }

    .project-image {
        margin-top: 20px;
    }

    @media (min-width: $breakpoint-lg) {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
        "heading heading"
        "info image"
        "link image";
        width: 90%;
        height: 100%;
        font-size: $small-font-size;

        h3  { grid-area: heading; font-size: $normal-font-size; }
        .project-info { grid-area: info; }
        .project-link { grid-area: link; }
        .project-image { grid-area: image; align-self: flex-end; }
    }
}

@media (min-width: $breakpoint-lg) {
    .container-left { justify-self: flex-start; }
    .container-right { justify-self: flex-end; }
}

/** skills and qualifications syling */
.skills {
    padding-top: 40px;

    @media (min-width: $breakpoint-lg) {
        padding-top: 70px;
        margin-top: 70px;
    }
}

.skills-qualifications {
    background-color: $color-main;
    box-shadow: inset 0 0 20px 8px rgba($color: #000000, $alpha: 0.2);
}

.skills-qualifications-container {
    padding: 10% 5%;
    color: $text-color-light;

    @media (min-width: $breakpoint-lg) {
        padding: 5%;
    }

    h2 {
        color: inherit;
        text-align: center;
    }

    .nav {
        justify-content: center;
        color: inherit;
    }

    .change-skills {
        margin-right: 3%;
    }

    .skills-is-active,
    .qualifications-is-active {
        text-decoration: underline;
    }
}

.change-skills,
.change-qualifications {
    p {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.skills-content {
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;

    @media (min-width: $breakpoint-md) {
        grid-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    @media (min-width: $breakpoint-md) {
        grid-gap: 0;
        row-gap: 60px;
        column-gap: 150px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "css html js ui php databases"
        "... adobe wordpress typo3 newsletter ...";
        margin-top: 40px;
    }

    .css { grid-area: css; }
    .html { grid-area: html; }
    .js { grid-area: js; }
    .ui { grid-area: ui; }
    .php { grid-area: php; }
    .databases { grid-area: databases; }
    .adobe { grid-area: adobe; }
    .wordpress  { grid-area: wordpress; }
    .typo3 { grid-area: typo3; }
    .newsletter { grid-area: newsletter; }
}

.skills-box {
    background-color: $body-color;
    color: $text-color;
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 155px;
    border-radius: 13px;

    @media (min-width: $breakpoint-md) {
        font-size: $h3-font-size-mobile;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: $smaller-font-size;
    }

    img {
        width: 80%;
    }

    p {
        margin: 5px 0 0;
    }
}

.qualifications-content {
    @media (min-width: $breakpoint-lg) {
        height: 600px;
        margin-top: 40px;
    }
}

/** about styling */
.about {
    margin-top: 50px;
    padding-top: 50px;
}

.about-container {
    h2 {
        text-align: center;
    }
}

.about-section {
    display: flex;
    flex-direction: column;

    .introduction {
        margin-top: 50px;

        .about-subheading {
            margin: 0;
            font-size: $h3-font-size-mobile;
        }

        .me-intro {
            font-size: $small-font-size;
        }
    }

    .backend-image,
    .ui-image {
        width: 60%;
        align-self: center;
        margin-bottom: 1rem;
    }
}

@media (min-width: $breakpoint-md) {
    .about-section {
        .about-intro {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 2fr 3fr;
            grid-template-areas: "image intro"
            "interests interests";

            .about-image { grid-area: image; }

            .introduction {
                grid-area: intro;
                margin-top: 0;
            }

            .interests { grid-area: interests; }
        }

        .my-start {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 3fr 2fr;
            grid-template-areas: "first-project backend-image";

            .backend-image {
                grid-area: backend-image;
            }
            .first-project {
                grid-area: first-project;
            }
        }

        .frontend {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 2fr 3fr;
            grid-template-areas:
                "ui-image backend"
                "frontend frontend";

            .ui-image {
                grid-area: ui-image;
            }
            .backend-career {
                grid-area: backend;
            }
            .frontend-career {
                grid-area: frontend;
            }
        }

        .backend-image,
        .ui-image {
            width: 90%;
            justify-self: center;
        }
    }
}

@media (min-width: $breakpoint-lg) {
    .about-image {
        max-width: 60%;
    }

    .about-section {
        .about-intro {
            column-gap: 15px;
            row-gap: 40px;
        }

        .backend-image,
        .ui-image {
            width: 40%;
            align-self: flex-start;
        }

        .backend-image { justify-self: flex-end; }
        .ui-image { justify-self: flex-start; }

        .frontend {
            grid-template-areas:
            "ui-image backend"
            "ui-image frontend";
        }
    }
}

/** contact styling */
.contact {
    margin-top: 50px;
    padding-top: 50px;
}

.contact-container {
    background-color: $color-main;
    border-radius: 30px;
    margin-bottom: 120px;
    box-shadow: inset 0 0 20px 8px rgba($color: #000000, $alpha: 0.2);
}

.contact-content {
    padding: 8%;
    color: $text-color-light;

    h3 {
        color: inherit;
        text-align: center;
    }

    .contact-subheading {
        font-size: $smaller-font-size;
    }

    [class*="input-"] {
        height: 55px;
        margin-bottom: 20px;
    }

    .form-check {
        margin-bottom: 20px;
    }
}

@media (min-width: $breakpoint-lg) {
    .contact-content {
        p {
            text-align: center;
        }
    }

    .contact-form {
        margin-top: 50px;
    }

    .form-container {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "name email"
        "subject subject"
        "message message"
        "checkbox checkbox";

        .input-name { grid-area: name; }
        .input-email { grid-area: email; }
        .input-subject { grid-area: subject; }
        .input-message { grid-area: message; height: 230px; }
        .form-check { grid-area: checkbox; }
    }
}
