/**
@import "_variables.scss";
@import "_general.scss";
@import "_header.scss";
@import "_intro.scss";
@import "_portfolio-skills.scss";
@import "_about.scss";
*/
/** general styling */
body {
  margin: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #fbfbfe;
  color: #333333;
}

@media (min-width: 768px) {
  body {
    font-size: 1.375rem;
  }
}

h1,
h2,
h3,
h4 {
  color: #333333;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.125rem;
  }
}

h3 {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.625rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable:hover {
  text-decoration: none;
}

.btn {
  width: 100%;
  height: 50px;
  padding: 0.75rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #5a43cb;
  border-color: #5a43cb;
}

.form-control {
  height: 100%;
  border-radius: 0;
  border: none;
}

.nav-container,
.content-container {
  padding: 0 5%;
}

.heading {
  text-align: center;
}

/** Navigation */
.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #5a43cb;
  font-size: 0.865rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .nav-container {
    top: 0;
    height: 80px;
    font-size: 1.375rem;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .nav-container [class*="fa-"] {
    display: none;
  }
}

.nav-container .nav-logo {
  color: #fbfbfe;
  font-size: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-container .nav {
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-link {
  color: #fbfbfe;
  font-size: inherit;
}

.nav-container .fa-code,
.nav-container .fa-code-branch,
.nav-container .fa-at {
  font-size: 20px;
  text-align: center;
  margin: 0 13px 5px;
}

.nav-container .fa-code-branch {
  margin: 0 10px 5px;
}

.nav-container .nav-about {
  display: none;
}

@media (min-width: 768px) {
  .nav-container .nav-about {
    display: block;
  }
}

/** introduction styling */
.intro-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 0.5fr 3fr;
      grid-template-columns: 0.5fr 3fr;
      grid-template-areas: "intro-social-aside intro-image" "main-content main-content";
  margin: 60px 0 0;
}

@media (min-width: 768px) {
  .intro-container {
    margin: 120px 0 0;
    -ms-grid-columns: 4fr 2fr;
        grid-template-columns: 4fr 2fr;
        grid-template-areas: "main-content intro-image" "main-content intro-social-aside";
  }
}

.intro-container .intro-main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main-content;
  margin-top: 1rem;
}

.intro-container .intro-image {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: intro-image;
  justify-self: flex-end;
}

.intro-container .intro-social-aside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro-social-aside;
}

.intro-image img {
  border-radius: 50%;
}

.intro-social-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .intro-social-aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-social-aside .social-instagram,
  .intro-social-aside .social-github,
  .intro-social-aside .social-linkedin {
    height: 70%;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .intro-social-aside .social-linkedin {
    margin-right: 0;
  }
}

.intro-social-aside .social-instagram,
.intro-social-aside .social-github,
.intro-social-aside .social-linkedin {
  height: 20%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .intro-social-aside .social-instagram,
  .intro-social-aside .social-github,
  .intro-social-aside .social-linkedin {
    height: 70%;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.intro-social-aside .social-linkedin {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .intro-social-aside .social-linkedin {
    margin-right: 0;
  }
}

.btn-portfolio {
  width: 180px;
}

/** portfolio styling */
.portfolio {
  margin-top: 50px;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .portfolio-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

.project-container {
  background-color: #5a43cb;
  border-radius: 25px;
  margin-bottom: 50px;
  color: #fbfbfe;
}

.project-container h3 {
  padding-top: 20px;
  text-align: center;
  color: inherit;
}

.project-container .project-info {
  padding: 0 20px;
}

.project-container .project-link {
  padding: 0 20px;
  color: inherit;
}

.project-container .project-image {
  margin-top: 20px;
}

/** skills and qualifications syling */
.skills {
  padding-top: 40px;
}

.skills-qualifications {
  background-color: #5a43cb;
  -webkit-box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
}

.skills-qualifications-container {
  padding: 10% 5%;
  color: #fbfbfe;
}

.skills-qualifications-container h2 {
  color: inherit;
  text-align: center;
}

.skills-qualifications-container .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
}

.skills-qualifications-container .change-skills {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.skills-qualifications-container .skills-is-active,
.skills-qualifications-container .qualifications-is-active {
  text-decoration: underline;
}

.skills-content {
  grid-gap: 15px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .skills-content {
    grid-gap: 50px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

.skills-box {
  background-color: #fbfbfe;
  color: #333333;
  padding: 8% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 155px;
  border-radius: 13px;
}

@media (min-width: 768px) {
  .skills-box {
    font-size: 1.25rem;
  }
}

.skills-box img {
  width: 80%;
}

.skills-box p {
  margin: 5px 0 0;
}

/** about styling */
.about {
  margin-top: 50px;
  padding-top: 50px;
}

.about-container h2 {
  text-align: center;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .introduction {
  margin-top: 50px;
}

.about-section .introduction .about-subheading {
  margin: 0;
  font-size: 1.25rem;
}

.about-section .introduction .me-intro {
  font-size: 1.5rem;
}

.about-section .backend-image,
.about-section .ui-image {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about-section .about-intro {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "image intro";
  }
  .about-section .about-intro .about-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .about-section .about-intro .introduction {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: intro;
    margin-top: 0;
  }
  .about-section .my-start {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "first-project backend-image";
  }
  .about-section .my-start .backend-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: backend-image;
  }
  .about-section .my-start .first-project {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first-project;
  }
  .about-section .frontend {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "ui-image backend" "frontend frontend";
  }
  .about-section .frontend .ui-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ui-image;
  }
  .about-section .frontend .backend-career {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: backend;
  }
  .about-section .frontend .frontend-career {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: frontend;
  }
  .about-section .backend-image,
  .about-section .ui-image {
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

/** contact styling */
.contact {
  margin-top: 50px;
  padding-top: 50px;
}

.contact-container {
  background-color: #5a43cb;
  border-radius: 30px;
  margin-bottom: 120px;
  -webkit-box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
}

.contact-content {
  padding: 8%;
  color: #fbfbfe;
}

.contact-content h3 {
  color: inherit;
  text-align: center;
}

.contact-content .contact-subheading {
  font-size: 1.375rem;
}

.contact-content [class*="input-"] {
  height: 55px;
  margin-bottom: 20px;
}

.contact-content .form-check {
  margin-bottom: 20px;
}
/*# sourceMappingURL=base.css.map */