.privacy-notice-content {
    .privacy-introduction,
    .privacy-hosting,
    .privacy-required-information,
    .data-acquisition,
    .plugins-tools {
        margin-top: 70px;

        div {
            margin-bottom: 40px;
        }
    }

    .privacy-source {
        margin-top: 70px;
    }

    .right-of-restriction ul {
        padding-left: 0;
    }
}
