/** Navigation */
.nav-container {
    position: fixed;
    bottom: 20px;
    width: 98%;
    height: 70px;
    margin: 0 1%;
    background-color: $color-main;
    font-size: $font-size-small-mobile;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
    border-radius: 15px;
    z-index: $z-fixed;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-mobile {
        .navbar-nav {
            flex-flow: row nowrap;
        }
    }

    .nav-logo {
        color: $color-text-light;
        font-size: $font-size-h3;
        align-self: center;
    }

    .nav {
        justify-self: flex-end;
        align-items: center;
    }

    .nav-link {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 1rem 0 1rem 1.5rem;
    }

    .navbar-nav .nav-link {
        color: $color-text-light;

        &.active {
            color: $color-text-light;
        }
    }

    .hover-underline {
        &::after {
            background-color: $color-body;
        }
    }

    .nav-active {
        display: inline-block;
        position: relative;
        margin-bottom: 0;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(1);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-body;
            transform-origin: bottom left;
            transition: transform .25s ease-out;
        }
    }
}

/* tablet styling */
@include media-breakpoint-up(md) {
    .nav-container {
        top: 10px;
        height: 90px;
        font-size: $font-size-small;
        border-radius: 25px;

        .navbar-collapse {
            flex: 0 0 70%;
        }

        .navbar-nav {
            flex-flow: row nowrap;
            justify-content: flex-end;
        }
    }
}

/* desktop styling */
@include media-breakpoint-up(lg) {
    .nav-container {
        height: 100px;
        padding: 0 8%;
        font-size: $font-size-normal;

        .navbar-nav {
            .nav-item {
                &:not(:last-of-type) {
                    padding-right: 1.5rem;
                }
            }

            .nav-link {
                padding-right: 0;
            }
        }

        .nav {
            margin-right: -15px;
        }

        .nav-active {
            &:hover::after {
                transform: scaleX(0);
                transform-origin: bottom right;
            }
        }
    }
}
