// links
$link-color: $color-secondary;
$link-hover-color: $color-orange-010;

$link-light-color: $color-white;
$link-light-hover-color: $color-gray-400;

// inputs
$input-border-radius: 6px;

// app loader
$app-loader-color: $color-white;
$app-loader-background-color: $color-primary;
