$animation-speed: 0.33s;

// Z-Indexes
$z-tooltip: 10;
$z-fixed: 100;
$z-model: 1000;

// Media Queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-3xl: 1600px;
$breakpoint-4k: 2400px;

$margin-page-top: 120px;
$margin-page-bottom: 80px;
