/** introduction styling */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0 0;

    .intro-main-content {
        grid-area: main-content;
        margin-top: 2rem;

        .myself {
            margin: 1.5rem 0;
        }
    }

    .intro-image {
        grid-area: intro-image;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $breakpoint-md) {
            align-self: center;
            margin-bottom: 20px;
        }
    }

    .intro-social-aside {
        grid-area: intro-social-aside;
    }
}

.intro-image img {
    border-radius: 50%;
}

.intro-social-aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    @media (min-width: $breakpoint-lg) {
        flex-direction: column;
    }

    .social-instagram,
    .social-github,
    .social-linkedin {
        height: 55px;

        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            margin-right: 10px;
        }
    }

    .social-linkedin {
        margin-bottom: 0;

        @media (min-width: $breakpoint-md) {
            margin-right: 0;
        }
    }
}

.btn-portfolio {
    width: 180px;
}

/* tablet styling */
@media (min-width: $breakpoint-md) {
    .intro-container {
        display: grid;
        grid-gap: 20px;
        padding: 150px 0 0;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
            "main-content intro-image"
            "main-content intro-social-aside";

        .intro-main-content {
            margin-top: 1rem;

            .myself {
                margin: 1rem 0;
            }
        }
    }
}

/* desktop styling */
@media (min-width: $breakpoint-lg) {
    .intro-container {
        padding: 180px 0 0;
        grid-template-columns: 4fr 2fr .5fr;
        grid-template-areas:
            "main-content intro-image intro-social-aside";

        .intro-main-content {
            padding-right: 20%;
            align-self: center;

            .btn-portfolio {
                margin-top: 30px;
            }

            .myself {
                margin-top: 1.5rem;
            }
        }
    }

    .intro-image img {
        height: 100%;
    }
}
