/** introduction styling */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0 0;

    .intro-main-content {
        grid-area: main-content;
        margin-top: 2rem;

        .myself {
            margin: 1.5rem 0;
        }
    }

    .intro-image {
        grid-area: intro-image;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            align-self: center;
            margin-bottom: 20px;
        }
    }

    .intro-social-aside {
        grid-area: intro-social-aside;
    }
}

.intro-image img {
    border-radius: 50%;
}

.intro-social-aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    @include media-breakpoint-up(lg) {
        flex-direction: column;
    }

    .social-instagram,
    .social-github,
    .social-linkedin {
        height: 55px;

        @include media-breakpoint-only(md) {
            margin-right: 10px;
        }
    }

    .social-linkedin {
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            margin-right: 0;
        }
    }
}

.button-container {
    display: flex;
    flex-flow: column;
    column-gap: 30px;
    row-gap: 30px;
}

.btn-portfolio,
.btn-contact {
    width: 180px;
}

.btn-contact {
    .btn-primary {
        border-radius: 1.5625rem 0;

        &:hover {
            border-radius: 0 1.5625rem;
        }
    }
}

/* tablet styling */
@include media-breakpoint-up(md) {
    .intro-container {
        display: grid;
        grid-gap: 20px;
        padding: 150px 0 0;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
            "main-content intro-image"
            "main-content intro-social-aside";

        .intro-main-content {
            margin-top: 1rem;

            .myself {
                margin: 1rem 0;
            }
        }

        .intro-image {
            justify-content: flex-end;
            margin-bottom: 0;
        }
    }
}

/* desktop styling */
@include media-breakpoint-up(lg) {
    .intro-container {
        padding: 180px 0 0;
        grid-template-columns: 4fr 2fr .5fr;
        grid-template-areas:
            "main-content intro-image intro-social-aside";

        .intro-main-content {
            padding-right: 20%;
            align-self: center;

            .btn-portfolio,
            .btn-contact {
                margin-top: 30px;
            }

            .myself {
                margin-top: 1.5rem;
            }
        }
    }

    .intro-image img {
        height: 100%;
    }

    .button-container {
        flex-flow: row nowrap;
    }
}
