/** portfolio styling */
.portfolio {
    margin-top: 50px;
    padding-top: 50px;
}

.portfolio-container {
    .heading {
        margin-bottom: 50px;
    }
}


.portfolio-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.project-container {
    background-color: $color-main;
    border-radius: 25px;
    padding: 2.5rem 2rem 0 2rem;
    width: 100%;
    color: $text-color-light;
    max-height: 580px;
    overflow: hidden;

    h3 {
        text-align: center;
        color: inherit;
        margin-bottom: 1.5rem;
    }

    .project-info {
        padding-right: 20px;

        .github-repo {
            margin-top: 40px;
        }
    }

    .project-link {
        color: inherit;

        .fa-arrow-right {
            transition: transform .25s;
        }

        &:hover {
            text-decoration: none;

            .fa-arrow-right {
                transform: translateX(.5rem);
            }
        }
    }
}

.custom-linktree {
    .project-image {
        justify-self: flex-end;

        @media (max-width: $breakpoint-md) {
            height: auto;
            width: 60%;
            margin-top: 20px;
        }

        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg){
            height: auto;
            width: 30%;
            margin-top: 20px;
        }
    }

    @media (max-width: $breakpoint-md) {
        margin-bottom: 40px;
    }
}

.structured-data {
    .project-image {
        height: 192px;
        justify-self: flex-end;

        @media (max-width: $breakpoint-md) {
            height: 160px;
            margin-top: 20px;
        }
    }
}

@media (min-width: $breakpoint-md) {
    .project-content {
        display: flex;
        flex-direction: row;
    }

    .structured-data {
        padding-bottom: 40px;
    }
}

@media (min-width: $breakpoint-lg) {
    .project-container {
        width: 45%;
        height: auto;
        max-height: 480px;
        font-size: $small-font-size;

        h3  { font-size: $normal-font-size; }

        .project-content {
            display: grid;
            grid-template-columns: 3fr 2fr;
            grid-template-areas:
            "info image";

            .project-info { grid-area: info; }
            .project-link { grid-area: link; }
        }
    }

    .container-left { justify-self: flex-start; }
    .container-right { justify-self: flex-end; }
}

/* skills and qualifications syling */
.skills-qualifications {
    background-color: $color-main;
    box-shadow: inset 0 0 20px 8px rgba($color: #000000, $alpha: 0.2);
}

.skills-qualifications-container {
    padding: 10% 5%;
    color: $text-color-light;

    @media (min-width: $breakpoint-lg) {
        padding: 5% 10%;
    }

    h2 {
        color: inherit;
        text-align: center;
    }

    .nav {
        justify-content: center;
        color: inherit;
    }

    .change-skills {
        margin-right: 3%;
    }

    .skills-is-active,
    .qualifications-is-active {
        .hover-underline::after {
            transform: scaleX(1);
        }
    }
}

.change-content {
    margin-bottom: 40px;
}

.change-skills,
.change-qualifications {
    p {
        cursor: pointer;
    }
}

.skills-is-active,
.qualifications-is-active {
    p {
        cursor: default;
    }
}

.skills-content {
    flex-flow: row wrap;
    justify-content: space-between;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.show {
        opacity: 1;
        height: auto;
    }

    .typo3,
    .databases,
    .newsletter {
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-md) {
        .wordpress {
            margin-bottom: 0;
        }
    }

    @media (min-width: $breakpoint-lg) {
        justify-content: center;
        gap: 40px
    }
}

.skills-box {
    display: flex;
    aspect-ratio: 1/1;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border-radius: 13px;
    margin-bottom: 2rem;
    flex: 0 0 30%;
    background-color: $body-color;
    color: $text-color;
    font-size: $smaller-font-size-mobile;

    @media (min-width: $breakpoint-md) {
        font-size: $normal-font-size-mobile;
        flex: 0 0 22%;
    }

    @media (min-width: $breakpoint-lg) {
        font-size: 1.2rem;
        margin-bottom: 0;
        flex: 0 0 12%;
        min-width: 140px;
        min-height: 140px;
    }

    img {
        width: 70%;
    }

    p {
        margin: 5px 0 0;
    }
}

.qualifications-content {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.show {
        opacity: 1;
        height: auto;
    }

    @media (min-width: $breakpoint-lg) {
        margin-top: 40px;
    }
}

/*--- New CV ---*/
.cv-content {
    width: 100%;
}

.my-work-experience {
    width: 100%;

    .experience-heading {
        margin-bottom: 30px;
        color: $text-color-light;
    }
}

.my-school-experience {
    margin-top: 80px;
}

.work-experience {
    display: flex;
    flex-flow: row nowrap;

    .timeline {
        flex: 0 0 3%;
        margin-top: 6px;

        &--point {
            width: 1.2rem;
            height: 1.2rem;
            background-color: $body-color;
            border-radius: 50%;
        }

        &--line {
            width: .2rem;
            height: 100%;
            background-color: $body-color;
            transform: translateX(.5rem);
        }
    }

    .job-container {
        flex: 0 0 97%;
        display: flex;
        flex-flow: row wrap;
        padding-left: 20px;
    }

    .job-information {
        flex: 0 0 100%;
        margin-bottom: 1.5rem;

        @media (min-width: $breakpoint-lg) {
            flex: 0 0 25%;
        }

        .information-company {
            font-size: 1.2rem;
        }
    }

    .job-description {
        flex: 0 0 100%;
        margin-bottom: 3rem;

        @media (min-width: $breakpoint-lg) {
            flex: 0 0 75%;
        }

        .job-title {
            font-weight: $font-weight-bold;
            letter-spacing: 1px;
        }
    }
}
