// Color Declaration
$color-main: rgb(61, 44, 141);
$color-main-alt: rgb(204, 188, 67);
$text-color: rgb(16, 12, 39);
$text-color-light: rgb(248, 247, 253);
$body-color: rgb(248, 247, 253);
$body-color-dark: rgb(16, 12, 39);
$accent-color-dark1: rgb(45, 32, 105);
$accent-color-dark2: rgb(28, 20, 66);
$accent-color-light1: rgb(78, 56, 183);
$accent-color-light2: rgb(107, 87, 203);

// Typography
$body-font: 'Poppins', sans-serif;

$h1-font-size: 2.625rem;
$h1-font-size-mobile: 2rem;
$h2-font-size: 2.375rem;
$h2-font-size-mobile: 1.75rem;
$h3-font-size: 2.125rem;
$h3-font-size-mobile: 1.25rem;

$normal-font-size: 1.625rem;
$normal-font-size-mobile: 1rem;
$small-font-size: 1.5rem;
$small-font-size-mobile: .865rem;
$smaller-font-size: 1.375rem;
$smaller-font-size-mobile: .75rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Z-Indexes
$z-tooltip: 10;
$z-fixed: 100;
$z-model: 1000;

// Media Queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 2400px;
