/** general styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #f8f7fd;
  color: #100c27;
}

h1,
h2,
h3,
h4 {
  color: #100c27;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
}

ul {
  list-style: none;
}

a {
  color: #3d2c8d;
  text-decoration: none;
}

a:hover {
  color: #2d2069;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  margin-bottom: 100px;
}

#particles-js {
  width: 100%;
  height: 2200px;
  position: absolute;
  z-index: -1;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable:hover {
  text-decoration: none;
}

.hover-underline {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f8f7fd;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

@media (min-width: 992px) {
  .hover-underline:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}

.heading-dot {
  color: #ccbc43;
}

.social-icon svg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .33s;
  transition: -webkit-transform .33s;
  transition: transform .33s;
  transition: transform .33s, -webkit-transform .33s;
}

@media (min-width: 992px) {
  .social-icon svg:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.btn {
  width: 100%;
  height: 50px;
  padding: 0.75rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  border: 2px solid #100c27;
  border-radius: 0 1.5625rem;
  font-weight: 500;
  -webkit-transition: border-radius .4s ease-out;
  transition: border-radius .4s ease-out;
}

.btn .fa-arrow-right {
  margin-left: .25rem;
  -webkit-transition: -webkit-transform .25s ease-in;
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in;
}

.btn:hover {
  border-radius: 1.5625rem 0;
}

.btn:hover .fa-arrow-right {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.btn-primary {
  background-color: #4e38b7;
  border-color: #4e38b7;
  color: #f8f7fd;
  -webkit-transition: border-radius .4s ease-out, background-color .15s, border-color .15s;
  transition: border-radius .4s ease-out, background-color .15s, border-color .15s;
}

.btn-primary:hover {
  background-color: #2d2069;
  border-color: #2d2069;
  text-decoration: none;
}

.btn-light {
  background-color: #f8f7fd;
  border-color: #f8f7fd;
}

.form-control {
  height: 100%;
  border-radius: 0;
  border: none;
}

.form-control::-webkit-input-placeholder {
  /* Edge */
  color: #100c27;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #100c27;
}

.form-control::-ms-input-placeholder {
  color: #100c27;
}

.form-control::placeholder {
  color: #100c27;
}

.scroll-to-top {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 100px;
  z-index: 90;
  width: 50px;
  height: 50px;
  background-color: #3d2c8d;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1) translateY(200px);
          transform: scale(1) translateY(200px);
  will-change: transform;
  -webkit-transition: -webkit-transform .33s;
  transition: -webkit-transform .33s;
  transition: transform .33s;
  transition: transform .33s, -webkit-transform .33s;
}

.scroll-to-top.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 992px) {
  .scroll-to-top.show:hover {
    -webkit-transform: scale(1.3) translateY(0);
            transform: scale(1.3) translateY(0);
  }
}

@media (min-width: 768px) {
  .scroll-to-top {
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.375rem;
  }
  h1 {
    font-size: 2.375rem;
  }
  h2 {
    font-size: 2.125rem;
  }
  h3 {
    font-size: 1.625rem;
  }
  #particles-js {
    height: 2000px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.625rem;
  }
  h1 {
    font-size: 2.625rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  h3 {
    font-size: 2.125rem;
  }
  #particles-js {
    height: 1400px;
  }
}

.nav-container,
.content-container {
  padding: 0 5%;
}

@media (min-width: 992px) {
  .nav-container,
  .content-container {
    padding: 0 10%;
  }
}

.section {
  padding-bottom: 140px;
}

.heading {
  text-align: center;
}

/** Impressum */
.legal .nav-container .nav-skills {
  display: none;
}

@media (min-width: 768px) {
  .legal .nav-container .nav-skills {
    display: block;
  }
}

.legal-disclosure {
  margin-bottom: 80px;
}

.legal-disclosure .contact-info,
.legal-disclosure .in-charge {
  margin-top: 40px;
}

.legal-disclosure .legal-disclosure-source {
  margin-top: 50px;
  font-size: 1.375rem;
}

.legal-disclosure .hover-underline::after {
  background-color: #ccbc43;
}

/** Datenschuz */
.privacy-notice-content .privacy-introduction,
.privacy-notice-content .privacy-hosting,
.privacy-notice-content .privacy-required-information,
.privacy-notice-content .data-acquisition,
.privacy-notice-content .plugins-tools {
  margin-top: 70px;
}

.privacy-notice-content .privacy-introduction div,
.privacy-notice-content .privacy-hosting div,
.privacy-notice-content .privacy-required-information div,
.privacy-notice-content .data-acquisition div,
.privacy-notice-content .plugins-tools div {
  margin-bottom: 40px;
}

.privacy-notice-content .privacy-source {
  margin-top: 70px;
}

.privacy-notice-content .right-of-restriction ul {
  padding-left: 0;
}

/** Navigation */
.nav-container {
  position: fixed;
  bottom: 20px;
  width: 98%;
  height: 70px;
  margin: 0 1%;
  background-color: #3d2c8d;
  font-size: 0.865rem;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  z-index: 100;
}

.nav-container .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav-container .navbar-mobile .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.nav-container .nav-logo {
  color: #f8f7fd;
  font-size: 1.625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-container .nav {
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-link {
  color: #f8f7fd;
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 1rem 0 1rem 1.5rem;
}

.nav-container .nav-active {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.nav-container .nav-active::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f8f7fd;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

@media (min-width: 992px) {
  .nav-container .nav-active:hover::after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
}

.nav-container .fa-home,
.nav-container .fa-code,
.nav-container .fa-code-branch,
.nav-container .fa-at {
  font-size: 20px;
  text-align: center;
  margin: 0 13px 5px;
}

.nav-container .fa-code-branch {
  margin: 0 10px 5px;
}

.nav-container .nav-about {
  display: none;
}

.footer-container {
  width: 100%;
  background-color: #3d2c8d;
  font-size: 0.865rem;
  padding: 5% 10% 120px;
  color: #f8f7fd;
}

.footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container .footer-link {
  color: #f8f7fd;
  font-size: inherit;
}

.footer-container .footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.footer-container .footer-social-icons .social-instagram,
.footer-container .footer-social-icons .social-github,
.footer-container .footer-social-icons .social-linkedin {
  width: 45px;
}

.footer-container .footer-copyright p {
  text-align: center;
  margin-bottom: 2rem;
}

.footer-container .footer-legal p {
  margin-bottom: 1rem;
  text-align: center;
}

/* tablet styling */
@media (min-width: 768px) {
  .nav-container {
    top: 10px;
    height: 90px;
    font-size: 1.375rem;
    border-radius: 25px;
  }
  .nav-container .navbar-collapse {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  .nav-container .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .nav-container [class*="fa-"] {
    display: none;
  }
  .nav-container .nav-about {
    display: block;
  }
  .footer-container {
    font-size: 1.375rem;
    padding: 5% 10% 90px;
  }
}

/* desktop styling */
@media (min-width: 992px) {
  .nav-container {
    height: 100px;
    padding: 0 9%;
  }
  .nav-container .navbar-nav .nav-item:not(:last-of-type) {
    padding-right: 1.5rem;
  }
  .nav-container .navbar-nav .nav-link {
    padding-right: 0;
  }
  .nav-container .nav {
    margin-right: -15px;
  }
  .footer-container .footer-social-icons {
    gap: 40px;
    margin-bottom: 2rem;
  }
  .footer-container .footer-copyright {
    margin-bottom: 2rem;
  }
  .footer-container .footer-copyright p {
    margin-bottom: 0;
  }
  .footer-container .footer-legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .footer-container .footer-legal p {
    margin-bottom: 0;
  }
}

/** introduction styling */
.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 0;
}

.intro-container .intro-main-content {
  grid-area: main-content;
  margin-top: 2rem;
}

.intro-container .intro-main-content .myself {
  margin: 1.5rem 0;
}

.intro-container .intro-image {
  grid-area: intro-image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .intro-container .intro-image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
}

.intro-container .intro-social-aside {
  grid-area: intro-social-aside;
}

.intro-image img {
  border-radius: 50%;
}

.intro-social-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

@media (min-width: 992px) {
  .intro-social-aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro-social-aside .social-instagram,
.intro-social-aside .social-github,
.intro-social-aside .social-linkedin {
  height: 55px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .intro-social-aside .social-instagram,
  .intro-social-aside .social-github,
  .intro-social-aside .social-linkedin {
    margin-right: 10px;
  }
}

.intro-social-aside .social-linkedin {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .intro-social-aside .social-linkedin {
    margin-right: 0;
  }
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.btn-portfolio,
.btn-contact {
  width: 180px;
}

.btn-contact .btn-primary {
  border-radius: 1.5625rem 0;
}

.btn-contact .btn-primary:hover {
  border-radius: 0 1.5625rem;
}

/* tablet styling */
@media (min-width: 768px) {
  .intro-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    padding: 150px 0 0;
    -ms-grid-columns: 4fr 2fr;
        grid-template-columns: 4fr 2fr;
        grid-template-areas: "main-content intro-image" "main-content intro-social-aside";
  }
  .intro-container .intro-main-content {
    margin-top: 1rem;
  }
  .intro-container .intro-main-content .myself {
    margin: 1rem 0;
  }
  .intro-container .intro-image {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0;
  }
}

/* desktop styling */
@media (min-width: 992px) {
  .intro-container {
    padding: 180px 0 0;
    -ms-grid-columns: 4fr 2fr .5fr;
        grid-template-columns: 4fr 2fr .5fr;
        grid-template-areas: "main-content intro-image intro-social-aside";
  }
  .intro-container .intro-main-content {
    padding-right: 20%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .intro-container .intro-main-content .btn-portfolio,
  .intro-container .intro-main-content .btn-contact {
    margin-top: 30px;
  }
  .intro-container .intro-main-content .myself {
    margin-top: 1.5rem;
  }
  .intro-image img {
    height: 100%;
  }
  .button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

/** portfolio styling */
.portfolio {
  margin-top: 50px;
  padding-top: 50px;
}

.portfolio-container .heading {
  margin-bottom: 50px;
}

.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper .swiper-wrapper {
  width: 45%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #f8f7fd;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #3d2c8d;
}

.project-container {
  background-color: #3d2c8d;
  border-radius: 25px;
  padding: 2.5rem 3rem;
  width: 100%;
  color: #f8f7fd;
  max-height: 580px;
  overflow: hidden;
  margin-bottom: 40px;
}

.project-container h3 {
  text-align: center;
  color: inherit;
  margin-bottom: 1.5rem;
}

.project-container .project-info {
  padding-right: 20px;
}

.project-container .project-info .github-repo {
  margin-top: 40px;
}

.project-container .project-link {
  color: inherit;
}

.project-container .project-link .fa-arrow-right {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.project-container .project-link:hover {
  text-decoration: none;
}

.project-container .project-link:hover .fa-arrow-right {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.structured-data .project-image {
  height: 192px;
  justify-self: flex-end;
}

@media (min-width: 768px) {
  .structured-data .project-image {
    height: 160px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  .project-container {
    width: 45%;
    height: auto;
    max-height: 480px;
    font-size: 1.5rem;
  }
  .project-container h3 {
    font-size: 1.625rem;
  }
  .container-left {
    justify-self: flex-start;
  }
  .container-right {
    justify-self: flex-end;
  }
}

/* ----- ----- --- ---- -- -- -- */
/* skills and qualifications syling */
.skills-qualifications {
  background-color: #3d2c8d;
  -webkit-box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
}

.skills-qualifications-container {
  padding: 10% 5%;
  color: #f8f7fd;
}

@media (min-width: 992px) {
  .skills-qualifications-container {
    padding: 5% 10%;
  }
}

.skills-qualifications-container h2 {
  color: inherit;
  text-align: center;
}

.skills-qualifications-container .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
}

.skills-qualifications-container .change-skills {
  margin-right: 3%;
}

.skills-qualifications-container .skills-is-active .hover-underline::after,
.skills-qualifications-container .qualifications-is-active .hover-underline::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.change-content {
  margin-bottom: 40px;
}

.change-skills p,
.change-qualifications p {
  cursor: pointer;
}

.skills-is-active p,
.qualifications-is-active p {
  cursor: default;
}

.skills-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.skills-content.show {
  opacity: 1;
  height: auto;
}

.skills-content .typo3,
.skills-content .databases,
.skills-content .newsletter {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .skills-content .wordpress {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .skills-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: 1/1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  border-radius: 13px;
  margin-bottom: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: #f8f7fd;
  color: #100c27;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .skills-box {
    font-size: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22%;
            flex: 0 0 22%;
  }
}

@media (min-width: 992px) {
  .skills-box {
    font-size: 1.2rem;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12%;
            flex: 0 0 12%;
    min-width: 140px;
    min-height: 140px;
  }
}

.skills-box img {
  width: 70%;
}

.skills-box p {
  margin: 5px 0 0;
}

.qualifications-content {
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.qualifications-content.show {
  opacity: 1;
  height: auto;
}

@media (min-width: 992px) {
  .qualifications-content {
    margin-top: 40px;
  }
}

/*--- New CV ---*/
.cv-content {
  width: 100%;
}

.my-work-experience {
  width: 100%;
}

.my-work-experience .experience-heading {
  margin-bottom: 30px;
  color: #f8f7fd;
}

.my-school-experience {
  margin-top: 80px;
}

.work-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.work-experience .timeline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3%;
          flex: 0 0 3%;
  margin-top: 6px;
}

.work-experience .timeline--point {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #f8f7fd;
  border-radius: 50%;
}

.work-experience .timeline--line {
  width: .2rem;
  height: 100%;
  background-color: #f8f7fd;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.work-experience .job-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 97%;
          flex: 0 0 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-left: 20px;
}

.work-experience .job-information {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .work-experience .job-information {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.work-experience .job-information .information-company {
  font-size: 1.2rem;
}

.work-experience .job-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 3rem;
}

@media (min-width: 992px) {
  .work-experience .job-description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}

.work-experience .job-description .job-title {
  font-weight: 700;
  letter-spacing: 1px;
}

/** about styling */
.about {
  margin-top: 50px;
  padding-top: 50px;
}

.about-container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .introduction {
  margin-top: 50px;
}

.about-section .introduction .about-subheading {
  margin: 0;
  font-size: 1.25rem;
}

.about-section .introduction .me-intro {
  font-size: 1.5rem;
}

.about-section .my-start,
.about-section .frontend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .backend-image,
.about-section .ui-image {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.contact-button {
  width: 100%;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .about-section .about-intro {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 1rem;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "image intro" "interests interests";
  }
  .about-section .about-intro .about-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .about-section .about-intro .introduction {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: intro;
    margin-top: 0;
  }
  .about-section .about-intro .interests {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: interests;
  }
  .about-section .my-start {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "first-project backend-image";
  }
  .about-section .my-start .backend-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: backend-image;
  }
  .about-section .my-start .first-project {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first-project;
  }
  .about-section .frontend {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "ui-image backend" "frontend frontend";
  }
  .about-section .frontend .ui-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ui-image;
  }
  .about-section .frontend .backend-career {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: backend;
  }
  .about-section .frontend .frontend-career {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: frontend;
  }
  .about-section .backend-image,
  .about-section .ui-image {
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contact-button {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .about-image {
    max-width: 95%;
  }
  .about-section .about-intro {
    -ms-grid-columns: 1fr 2.5fr;
        grid-template-columns: 1fr 2.5fr;
        grid-template-areas: "image intro" "image interests";
    row-gap: 0;
  }
  .about-section .about-intro .introduction,
  .about-section .about-intro .interests {
    margin-left: -1rem;
  }
  .about-section .my-start {
    -ms-grid-columns: 3fr .5fr;
        grid-template-columns: 3fr .5fr;
    grid-gap: 0;
  }
  .about-section .backend-image,
  .about-section .ui-image {
    width: 73%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .about-section .backend-image {
    justify-self: flex-end;
  }
  .about-section .ui-image {
    justify-self: flex-start;
  }
  .about-section .frontend {
    -ms-grid-columns: .7fr 3fr;
        grid-template-columns: .7fr 3fr;
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
        grid-template-areas: "ui-image backend" "ui-image frontend";
  }
  .contact-button {
    width: 20%;
  }
}

@media (min-width: 2400px) {
  .about-section .about-intro {
    -ms-grid-columns: .5fr 3.5fr;
        grid-template-columns: .5fr 3.5fr;
  }
}

/** contact styling */
.contact {
  margin-top: 50px;
}

.contact-container {
  background-color: #3d2c8d;
  border-radius: 30px;
  margin-bottom: 120px;
  -webkit-box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
}

.contact-content {
  padding: 8%;
  color: #f8f7fd;
}

.contact-content h3 {
  color: inherit;
  text-align: center;
}

.contact-content .contact-subheading {
  font-size: 1.375rem;
}

.contact-content [class*="input-"] {
  height: 55px;
  margin-bottom: 20px;
}

.contact-content .input-message {
  width: 100%;
  height: 200px;
  padding: .75rem .75rem;
  font-size: 1rem;
  border: none;
}

.contact-content .input-message::-webkit-input-placeholder {
  /* Edge */
  color: #100c27;
  font-size: 1rem;
}

.contact-content .input-message:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #100c27;
  font-size: 1rem;
}

.contact-content .input-message::-ms-input-placeholder {
  color: #100c27;
  font-size: 1rem;
}

.contact-content .input-message::placeholder {
  color: #100c27;
  font-size: 1rem;
}

.contact-content .input-message:focus-visible {
  outline: 0;
}

.contact-content .form-check {
  margin-bottom: 20px;
}

.contact-content .form-check .form-check-input:checked {
  background-color: #100c27;
  border-color: #100c27;
}

.contact-content .form-check .form-check-label {
  font-size: 1.5rem;
}

.contact-content .contact-link {
  color: #f8f7fd;
  font-weight: 600;
}

@media (min-width: 768px) {
  .contact {
    padding-top: 50px;
  }
  .form-container .input-submit {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .contact-content {
    padding: 4% 5%;
  }
  .contact-content p {
    text-align: center;
  }
  .contact-form {
    margin-top: 50px;
  }
  .form-container {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    row-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "name email" "subject subject" "message message" "checkbox checkbox" "submit ...";
  }
  .form-container .input-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
  }
  .form-container .input-email {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: email;
  }
  .form-container .input-subject {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: subject;
  }
  .form-container .input-message {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: message;
    height: 230px;
  }
  .form-container .form-check {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: checkbox;
  }
  .form-container .input-submit {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: submit;
  }
}

.linktree {
  background: #100c27;
  color: #f8f7fd;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
}

.linktree a {
  text-decoration: none;
  color: #f8f7fd;
}

.linktree #particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.linktree .main-section {
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
}

.linktree .header-content {
  padding: 50px 0 0;
}

.linktree .footer-content {
  padding: 0 0 50px;
}

.linktree .profile-picture {
  display: block;
  height: auto;
  width: 128px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.linktree .profile-name {
  padding: 15px 0 15px 0;
}

.linktree .links {
  display: block;
  width: 200px;
  margin: 1.25rem auto 0 auto;
  padding: .5rem 2rem;
  background: #3d2c8d;
  border: 2px solid #3d2c8d;
  border-radius: 25px 0;
  color: #f8f7fd;
  font-size: .85rem;
  cursor: pointer;
  -webkit-transition: border-radius .4s;
  transition: border-radius .4s;
}

.linktree .links .fas,
.linktree .links .fab {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.linktree .links:hover {
  background: #3d2c8d;
  border-radius: 0 25px;
  color: #f8f7fd;
}

.linktree .links:hover .fas,
.linktree .links:hover .fab {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.linktree .first-link {
  margin-top: 0;
}

.linktree .bottom-text {
  margin-top: 60px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.linktree .legal {
  font-size: .75rem;
}
/*# sourceMappingURL=base.css.map */