.legal-disclosure {
    margin-bottom: 80px;

    .contact-info,
    .in-charge {
        margin-top: 40px;
    }

    &__source {
        margin-top: 50px;
        font-size: $font-size-small;
    }
}
