/** Navigation */
.nav-container {
    position: fixed;
    top: 10px;
    width: 98vw;
    height: 70px;
    margin: 0 1%;
    background-color: transparent;
    font-size: $font-size-small-mobile;
    box-shadow: none;
    border-radius: 15px;
    z-index: $z-fixed;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-mobile {
        .navbar-nav {
            flex-flow: row nowrap;
        }
    }

    .navbar-toggler {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 7px;
        height: 55px;
        width: 55px;
        padding: 12px;
        background-color: $color-main;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
        border-radius: 50%;
        transform: rotate(-45deg);
        transition: transform $animation-speed ease-out;

        .collapse-menu-icon {
            background-color: $color-body;
            border-radius: 5px;
            width: 100%;
            height: 3px;

            &.half {
                width: 50%;
            }

            &.start {
                transform: rotate(-90deg) translate(4px, 0);
                transform-origin: right;
                transition: transform $animation-speed cubic-bezier(0.54, -0.81, 0.57, 0.57),
                    width $animation-speed ease-out;
            }

            &.end {
                align-self: flex-end;
                transform: rotate(-90deg) translate(-5px, -0.5px);
                transform-origin: left;
                transition: transform $animation-speed cubic-bezier(0.54, -0.81, 0.57, 0.57),
                    width $animation-speed ease-out;
            }
        }

        &.collapsed {
            transform: rotate(0);

            .collapse-menu-icon {
                &.start {
                    transform: rotate(0) translateX(0);
                }

                &.end {
                    transform: rotate(0) translateX(0);
                }
            }
        }

        .bi {
            color: $color-body;
            font-size: 30px;
            transition: font-size $animation-speed,
                opacity $animation-speed;

            &-list {
                display: none;
            }

            &-x {
                display: block;
            }
        }
    }

    .nav-logo {
        display: flex;
        place-items: center;
        height: 55px;
        max-width: 25%;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
        background-color: $color-main;
        border-radius: 25px;
        padding: 5px 20px;
        color: $color-text-light;
        font-size: $font-size-h3;
        align-self: center;
    }

    .navbar-collapse {
        position: absolute;
        top: 70px;
        height: calc(100vh - 100px) !important;
        width: 95vw;
        left: 2vw;
        margin-top: 10px;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
        border-radius: 25px;
        background-color: $color-body;
        transition: height .6s;

        &:not(.show) {
            display: block;
            height: 0 !important;
            transition: height $animation-speed;
        }

        .nav-link {
            &.nav-link--home,
            &.nav-link--skills,
            &.nav-link--contact {
                &:hover {
                    color: $color-main;
                }
            }

            &:hover {
                color: $color-orange-300;
            }
        }
    }

    .nav {
        justify-self: flex-end;
        align-items: center;
    }

    .nav-item {
        opacity: 0;
        transition: opacity .5s;

        &.animate-nav-item {
            opacity: 1;
            transition: opacity $animation-speed;
        }
    }

    .nav-link {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;
        padding: 1rem 0 1rem 1.5rem;
        font-family: $font-handwriting;
        font-size: 38px;
        font-weight: $font-weight-medium;

        &__dash {
            width: 50px;
            height: 2px;
            background-color: $color-body-dark;
            margin: 0 10px;
        }

        .bi {
            font-size: 45px;
            color: $color-main-alt;

            &-house,
            &-boxes,
            &-chat-dots {
                color: $color-main;
            }
        }
    }

    .navbar-nav {
        &:not(.show-nav-content) {
            display: none;
        }

        .nav-link {
            color: $color-text;

            &:focus {
                color: $color-text;
            }

            &.active {
                color: $color-text;
            }
        }
    }

    .social-list-nav {
        opacity: 0;
        transition: opacity .6s;

        &:not(.show-nav-content) {
            display: none;
        }

        &.animate-nav-content {
            opacity: 1;
            transition: opacity $animation-speed;
        }
    }

    .hover-underline {
        &::after {
            background-color: $color-body;
        }
    }

    .nav-active {
        display: inline-block;
        position: relative;
        margin-bottom: 0;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(1);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-body;
            transform-origin: bottom left;
            transition: transform .25s ease-out;
        }
    }
}

/* tablet styling */
@include media-breakpoint-up(md) {
    .nav-container {
        height: 90px;
        border-radius: 25px;
        font-size: $font-size-small;
        color: $color-text-light;

        .navbar-nav {
            flex-flow: row wrap;
            margin-bottom: 30px;

            .nav-item {
                flex: 0 0 50%;
            }
        }
    }
}

/* desktop styling */
@include media-breakpoint-up(lg) {
    .nav-container {
        height: 100px;
        box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.6);
        background-color: $color-main;
        font-size: $font-size-normal;

        .nav-logo {
            box-shadow: none;
            font-size: 38px;
            padding: 5px 0;
        }

        .navbar-toggler {
            display: none;
        }

        .navbar-collapse {
            position: relative;
            top: 0;
            left: 0;
            height: auto;
            margin-top: 0;
            box-shadow: none;
            border-radius: 0;
            background-color: transparent;
            padding: 25px 0 25px 25px;

            &:not(.show) {
                height: auto !important;

                .navbar-nav {
                    display: flex;
                }
            }
        }

        .navbar-nav {
            flex-flow: row nowrap;
            gap: 1.5rem;
            margin-bottom: 0;

            .nav-item {
                flex: 0 0 auto;
                opacity: 1;
            }

            .nav-link {
                color: $color-text-light;
                font-size: 28px;
                font-weight: $font-weight-normal;

                &.nav-link--home,
                &.nav-link--skills,
                &.nav-link--contact {
                    &:hover {
                        color: $color-text-light;
                    }
                }

                &:hover {
                    color: $color-text-light;
                }

                &.active {
                    color: $color-text-light;
                }

                &:focus {
                    color: $color-text-light;
                }
            }
        }

        .nav {
            margin-right: -15px;
        }

        .nav-active {
            &:hover::after {
                transform: scaleX(0);
                transform-origin: bottom right;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .nav-container {
        .nav-logo {
            font-size: 42px;
        }

        .navbar-nav {
            .nav-link {
                font-size: 32px;
            }
        }
    }
}
