// main colors
$color-primary: #27187e;
$color-secondary: #ff8600;

// default colors
$color-white: #f8f7fd;
$color-black: #03010e;

// purple color variants
$color-purple-300: #6b57cb;
$color-purple-400: #4e38b7;
$color-purple-500: #3d2c8d;
$color-purple-600: #2d2069;
$color-purple-700: #1c1442;
$color-purple-800: #1e1b4b;
$color-purple-900: rgba(16, 12, 39, 1);

$color-background: rgba($color: #1e1b4b, $alpha: 1);

// orange color variants
$color-orange-010: #ffc86f;
$color-orange-100: #ff9e00;
$color-orange-200: #ff9100;
$color-orange-300: #ff8600;
$color-orange-400: #ff7900;
$color-orange-500: #ff6d00;
$color-orange-600: #eb6803;

// gray color variants
$color-gray-050: #f6f6f6;
$color-gray-100: #edebeb;
$color-gray-200: #dedcdc;
$color-gray-300: #cbcaca;
$color-gray-400: #bcbbbb;
$color-gray-450: #adacac;
$color-gray-500: #999;
$color-gray-600: #777;
$color-gray-700: #555;
$color-gray-800: #333;
$color-gray-900: #111;

// functional colors
$color-success: #75b798;
$color-error: #dc3545;

// gradients
$gradient-primary: linear-gradient(180deg, $color-purple-800 10%, $color-purple-700 40%, $color-purple-600 100%);
$gradient-mouse-glow: repeating-linear-gradient(to right, $color-secondary 0%, $color-orange-100 50%, $color-orange-010 100%);
