$font-body: 'Sora', sans-serif;
$font-handwriting: 'Caveat', cursive;
$font-code: 'monospace';

$font-size-h1: 52px;
$font-size-h2: 42px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-normal: 20px;
$font-size-small: 18px;
$font-size-smaller: 16px;

$font-size-h1-mobile: 44px;
$font-size-h2-mobile: 34px;
$font-size-h3-mobile: 24px;
$font-size-h4-mobile: 20px;
$font-size-h5-mobile: 18px;
$font-size-normal-mobile: 18px;
$font-size-small-mobile: 16px;
$font-size-smaller-mobile: 14px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Old font sizes
$old-h1-font-size: 2.625rem;
$old-h1-font-size-mobile: 2rem;
$old-h2-font-size: 2.375rem;
$old-h2-font-size-mobile: 1.75rem;
$old-h3-font-size: 2.125rem;
$old-h3-font-size-mobile: 1.25rem;

$old-normal-font-size: 1.625rem;
$old-normal-font-size-mobile: 1rem;
$old-small-font-size: 1.5rem;
$old-small-font-size-mobile: .865rem;
$old-smaller-font-size: 1.375rem;
$old-smaller-font-size-mobile: .75rem;
