.btn {
    width: 100%;
    height: 50px;
    padding: 12px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.4);
    border: 2px solid $color-body-dark;
    border-radius: 0 25px;
    font-weight: $font-weight-medium;
    transition: border-radius .4s ease-out;

    .fa-arrow-right {
        margin-left: 4px;
        transition: transform .25s ease-in;
    }

    &:hover {
        border-radius: 25px 0;

        .fa-arrow-right {
            transform: translateX(.5rem);
        }
    }
}

.btn-primary {
    background-color: $color-orange-300;
    border-color: $color-orange-300;
    color: $color-text-light;
    transition: border-radius .4s ease-out,
        background-color .15s,
        border-color .15s;

    &:hover {
        background-color: $color-orange-500;
        border-color: $color-orange-500;
        text-decoration: none;
    }
}

.btn-light {
    background-color: $color-text-light;
    border-color: $color-text-light;
}
