// font families and paths
$font-path-default-base: '/fonts/Sora';
$font-path-handwriting-base: '/fonts/Caveat';
$font-path-code: '';

$font-default: 'Sora';
$font-handwriting: 'Caveat';
$font-code: 'monospace';

$font-default-family: 'Sora', sans-serif;
$font-handwriting-family: 'Caveat', cursive;
$font-code-family: 'monospace';

// default font families
$font-body: $font-default;

// font-weights
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// font sizes
$clb-font-sizes: (
  'default': (
    'xs': 16px,
    'md': 18px,
    'xl': 20px,
  ),
  'small': (
    'xs': 14px,
    'md': 16px,
    'xl': 18px,
  ),
  'smaller': (
    'xs': 12px,
    'md': 14px,
    'xl': 16px,
  ),
  'large': (
    'xs': 20px,
    'md': 22px,
    'xl': 24px,
  ),

  'h1': (
    'xs': 42px,
    'md': 52px,
    'xl': 64px,
  ),

  'h2': (
    'xs': 32px,
    'md': 42px,
    'xl': 48px,
  ),

  'h3': (
    'xs': 24px,
    'md': 28px,
    'xl': 32px,
  ),

  'h4': (
    'xs': 20px,
    'md': 24px,
    'xl': 28px,
  ),

  'h5': (
    'xs': 18px,
    'md': 20px,
    'xl': 24px,
  ),

  'h6': (
    'xs': 16px,
    'md': 18px,
    'xl': 20px,
  ),
);
