body {
  min-height: 100dvh;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: $font-body;
  font-size: map.get($font-sizes, 'default', 'xs');
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.hover-underline,
.underline {
  position: relative;
  margin-bottom: 0;
  background-image: linear-gradient(currentColor, currentColor); // stylelint-disable-line value-keyword-case
  background-repeat: no-repeat;
  background-size: 0% 2px;
  text-decoration: none;
  transition: background-size .3s;
}

.hover-underline {
  background-position: 0% 100%;

  &:hover,
  &.show {
    background-size: 100% 2px;
  }
}

.underline {
  background-size: 100% 2px;
}

.section {
  padding-top: spacing(12.5);
  padding-bottom: spacing(12.5);
}

.page-content {
  min-height: calc(100dvh - $app-header-height - 350px);
  margin-top: $margin-page-top;
  padding-top: $margin-page-top;
  padding-bottom: $margin-page-bottom;
}

.clb-footer {
  padding-bottom: $app-header-height + 50px !important;
}

// ul {
//   list-style: none;
// }

a {
  color: $color-secondary;
  text-decoration: none;
  transition: color $animation-speed;

  &:hover {
    color: $color-orange-500;
    text-decoration: none;
  }

  &.has-target {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
}

@include tablet-up {
  body {
    font-size: map.get($font-sizes, 'default', 'md');
  }

  .page-content {
    margin-top: $app-header-height;
    margin-bottom: 0;
  }

  .clb-footer {
    padding-bottom: 50px !important;
  }
}

@include tablet-portrait-up {
  .container {
    padding: spacing(4) spacing(17.5) !important;
  }
}

@include desktop-up {
  .container {
    max-width: 1100px !important;
  }
}

@include desktop-medium-up {
  .container {
    max-width: 1250px !important;
    padding: spacing(4) !important;
  }
}

@include light-mode {
  --color-primary: #{$color-purple-550} !important;
  --color-background: #{$color-white} !important;
  --color-text: #{$color-black} !important;
}
