@mixin apply-styles($definition, $group, $default-definition: ()) {
    @each $property, $value in map-get($definition, $group) {
        $hasDefaultDefinitionWithSameGroup: map-has-key($default-definition, $group);
        $hasDefaultDefinitionWithSameProperty: false;
        $hasDefaultDefinitionWithSamePropertyValue: false;

        @if $hasDefaultDefinitionWithSameGroup {
            $hasDefaultDefinitionWithSameProperty: map-has-key(map-get($default-definition, $group), $property);
        }

        @if $hasDefaultDefinitionWithSameProperty {
            $default-property-value: map-get(map-get($default-definition, $group), $property);

            $hasDefaultDefinitionWithSamePropertyValue: $default-property-value == $value;
        }

        @if $value and not $hasDefaultDefinitionWithSamePropertyValue {
            #{$property}: $value;
        }
    }
}
