.introduction {
    display: flex;
    flex-flow: column;
    justify-content: center;
    // padding-top: 60px;
}

.introduction__content {
    margin-top: 2rem;
}

.introduction__description {
    margin: 1.5rem 0;
}

.introduction__image {
    order: -2;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}

.social-list--aside {
    order: -1;
}

.introduction__buttons {
    display: flex;
    flex-flow: column;
    gap: 30px;

    .btn--contact {
        .btn-primary {
            border-radius: 1.5625rem 0;

            &:hover {
                border-radius: 0 1.5625rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .introduction {
        display: grid;
        gap: 20px;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
            "intro-content intro-image"
            "intro-content intro-social";
        // padding-top: 120px;
    }

    .introduction__content {
        grid-area: intro-content;
    }

    .introduction__buttons {
        .btn--portfolio,
        .btn--contact {
            width: 180px;
        }
    }

    .introduction__image {
        grid-area: intro-image;
        align-self: center;
        margin-top: 10px;
    }

    .social-list--aside {
        grid-area: intro-social;
        transform: translateY(-40px);
    }
}

@include media-breakpoint-up(lg) {
    .introduction {
        grid-template-columns: 4fr 2.5fr .5fr;
        grid-template-areas:
            "intro-content intro-image intro-social";
        // padding-top: 180px;
    }

    .introduction__content {
        padding-right: 20%;
        align-self: center;
    }

    .introduction__description {
        margin-top: 1.5rem;
    }

    .introduction__buttons {
        flex-flow: row nowrap;

        .btn--portfolio,
        .btn--contact {
            margin-top: 30px;
        }
    }

    .introduction__image {
        justify-self: flex-end;
        transform: translateX(30px);

        img {
            height: 350px;
        }
    }

    .social-list--aside {
        flex-direction: column;
        transform: translateY(0);
        align-items: flex-end;
    }
}
