.portfolio {
    margin-top: 50px;
    padding-top: 50px;
}

.heading--portfolio {
    margin-bottom: 50px;
}

.swiper--projects {
    width: 100%;
    height: 400px;

    .swiper-wrapper {
        width: 45%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $color-body;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
    }

    .swiper-pagination-bullet-active {
        background-color: $color-main;
    }
}

.project-container {
    background-color: $color-main;
    border-radius: 25px;
    padding: 2.5rem 3rem;
    width: 100%;
    color: $color-text-light;
    max-height: 580px;
    overflow: hidden;
    margin-bottom: 40px;

    h3 {
        text-align: center;
        color: inherit;
        margin-bottom: 1.5rem;
    }
}

.project__info {
    padding-right: 20px;

    .github-repo {
        margin-top: 40px;
    }
}

.project__link {
    color: inherit;

    .fa-arrow-right {
        transition: transform .25s;
    }

    .hover-underline {
        &::after {
            background-color: $color-orange-300;
        }
    }

    &:hover {
        color: $color-orange-300;
        text-decoration: none;

        .fa-arrow-right {
            transform: translateX(.5rem);
        }
    }
}

@include media-breakpoint-up(md) {
    .project-content {
        display: flex;
        flex-direction: row;
    }
}

@include media-breakpoint-up(lg) {
    .swiper--projects {
        height: 340px;

        .swiper-button-prev,
        .swiper-button-next {
            transform: scale(.8);
            transition: transform .33s;

            &:hover {
                transform: scale(1);
            }
        }
    }

    .project-container {
        width: 45%;
        height: 315px;
        max-height: 315px;
        font-size: $font-size-normal;

        h3  {
            font-size: $font-size-h4;
        }
    }

    .project__description {
        height: 110px;
    }

    .container-left { justify-self: flex-start; }
    .container-right { justify-self: flex-end; }
}
