.footer {
    width: 100%;
    background-color: $color-main;
    font-size: $font-size-normal-mobile;
    padding: 15% 10%;
    color: $color-text-light;

    .nav-active {
        display: inline-block;
        position: relative;
        margin-bottom: 0;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(1);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-orange-400;
            transform-origin: bottom left;
            transition: transform .25s ease-out;
        }
    }
}

.social-list--footer {
    margin-bottom: 25px;
}

.container--footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__copyright {
    p {
        text-align: center;
        margin-bottom: 25px;
    }
}

.footer__links {
    p {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer__link-item {
        color: $color-text-light;
        font-size: inherit;
    }
}

@include media-breakpoint-up(md) {
    .footer {
        font-size: $font-size-normal;
        // padding: 15% 10%;
    }
}

@include media-breakpoint-up(lg) {
    .footer {
        min-height: 350px;
        padding: 5% 10%;

        .social-list--footer {
            gap: 40px;
            margin-bottom: 2rem;
        }

        .footer__copyright {
            margin-bottom: 2rem;

            p {
                margin-bottom: 0;
            }
        }

        .footer__links {
            display: flex;
            justify-content: center;
            gap: 40px;

            p {
                margin-bottom: 0;
            }
        }

        .nav-active {
            &:hover::after {
                transform: scaleX(0);
                transform-origin: bottom right;
            }
        }
    }
}
